@charset "utf-8";
/* b_magazine.css */

/* link headBox.css */
/* link footBox.css */
/* link common_design.css */
#container {
  position: relative;
  width: 100%;
  height: auto;
}
/* ================= #viewBox ================ */
#viewBox {
  width: 100%;
  height: 680px;
  padding-top: 300px;
  color: var(--back-white);
  text-shadow: 0px 0px 8px rgb(0 0 0 / 80%);
  background-repeat: no-repeat;
  background-size: cover;
}
#viewBox h2 {
  width: 800px;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 3.375rem;
}
#viewBox p {
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 1.125rem;
}
.magazine {
  background-image: url("../../img/magazine/bg_magazine.jpg");
}
/* ================= // #viewBox ================ */
/* =============== magazineBox =============== */
#magazineBox {
  width: 100%;
  height: 2600px;
  padding-top: 80px;
  background-color: var(--back-white);
}
.magazine_nav {
  width: 720px;
  height: 120px;
  margin: auto;
}
.magazine_nav ul {
  width: 100%;
  height: 100%;
}
.magazine_nav li {
  float: left;
  width: 180px;
  height: 120px;
}
.magazine_nav ul > div {
  width: 100%;
  height: 100%;
}
.magazine_nav_icon {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 100%;
  border: 3px solid var(--main-color);
  background-color: var(--back-white);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 100% 100%;
}
/* ============ .magazine_nav_icon ============== */
.magazine_nav li:nth-child(1) .magazine_nav_icon {
  background-image: url("../../img/magazine/ico_cate_all.png");
}
.magazine_nav li:nth-child(2) .magazine_nav_icon {
  background-image: url("../../img/magazine/ico_cate_news.png");
}
.magazine_nav li:nth-child(3) .magazine_nav_icon {
  background-image: url("../../img/magazine/ico_cate_video.png");
  background-position: 102% 100%;
}
.magazine_nav li:nth-child(4) .magazine_nav_icon {
  background-image: url("../../img/magazine/ico_cate_knowhow.png");
  background-position: 101% 100%;
}
/* ============ .magazine_nav_icon ============== */
.magazine_nav_txt {
  display: block;
  margin: auto;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.magazine_search {
  position: relative;
  width: 720px;
  height: 60px;
  margin-top: 40px;
  background-color: var(--color-color4);
}
#select_product {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding-left: 20px;
  appearance:none;
  border: 1px solid #777;
}
.triangle_icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 40px;
  border: solid var(--back-black);
  border-width: 12px 8px 0px 8px;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateY(-50%);
}
.magazine_list {
  width: 1220px;
  height: auto;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 80px;
}
.magazine_list ul {
  width: 100%;
  height: auto;
}
.magazine_list ul > li {
  position: relative;
  float: left;
  width: 380px;
  height: 500px;
  margin-right: 40px;
  margin-top: 40px;
}
.magazine_list ul li:nth-child(3n) {
  margin-right: 0px;
}
.magazine_list ul li:nth-child(-n+3) {
  margin-top: 0px;
}
.magazine_img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-color: var(--deep-gray01);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* === .magazine_img ======================== */
.magazine_list li:nth-child(1) .magazine_img {
  background-image: url("../../img/magazine/210628_news_alpha.jpg");
}
.magazine_list li:nth-child(2) .magazine_img {
  background-image: url("../../img/magazine/210422_news_alpha.jpg");
}
.magazine_list li:nth-child(3) .magazine_img {
  background-image: url("../../img/magazine/210305_news_alpha.jpg");
}
.magazine_list li:nth-child(4) .magazine_img {
  background-image: url("../../img/magazine/201229_news_alpha.jpg");
}
.magazine_list li:nth-child(5) .magazine_img {
  background-image: url("../../img/magazine/201211_news_alpha.jpg");
}
.magazine_list li:nth-child(6) .magazine_img {
  background-image: url("../../img/magazine/201112_08_thumb.jpg");
}
.magazine_list li:nth-child(7) .magazine_img {
  background-image: url("../../img/magazine/201112_07_thumb.jpg");
}
.magazine_list li:nth-child(8) .magazine_img {
  background-image: url("../../img/magazine/201112_06_thumb.jpg");
}
.magazine_list li:nth-child(9) .magazine_img {
  background-image: url("../../img/magazine/201112_05_thumb.jpg");
}
.magazine_list li:nth-child(10) .magazine_img {
  background-image: url("../../img/magazine/201112_04_thumb.jpg");
}
.magazine_list li:nth-child(11) .magazine_img {
  background-image: url("../../img/magazine/201112_03_thumb.jpg");
}
.magazine_list li:nth-child(12) .magazine_img {
  background-image: url("../../img/magazine/201112_02_thumb.jpg");
}
/* === // .magazine_img ===================== */
.magazine_img a {
  display: block;
  width: 100%;
  height: 100%;
}
.magazine_list_icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid var(--back-white);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 0 0;
}
/* = 종류별 아이콘 list_post,video,knowhow = */
.list_post {
  background-image: url("../../img/magazine/ico_cate_news.png");
}
.list_video {
  background-image: url("../../img/magazine/ico_cate_video.png");
}
.list_knowhow {
  background-image: url("../../img/magazine/ico_cate_knowhow.png");
}
/* = // 종류별 아이콘 list_post,video,knowhow = */
.magazine_label {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
}
.magazine_label span {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  color: var(--back-white);
  background-color: var(--back-black);
}
.magazine_text {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
}
.magazine_text dl {
  width: 100%;
  height: auto;
}
.magazine_text dt {
  width: 100%;
  height: auto;
  font-size: 18px;
}
.magazine_text dd {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.magazine_days {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 20px;
}
/* =============== magazineBox =============== */
/* =================== next prev btn ==================== */

.magazine_list_btn {
  width: 722px;
  min-width: 720px;
  height: auto;
  margin: auto;
}
.magazine_list_btn ul {
  width: 100%;
  height: auto;
}
.magazine_list_btn li {
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: var(--back-white);
}
.magazine_list_btn li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.magazine_list_btn li:first-of-type {
  margin-right: 40px;
}
.magazine_list_btn li:last-of-type {
  margin-left: 40px;
}
.prev_btn {
  position: relative;
  width: 100%;
  height: 100%;
}
.prev_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: solid var(--main-color);
  border-width: 12px 18px 12px 0px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.next_btn {
  position: relative;
  width: 100%;
  height: 100%;
}
.next_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: solid var(--main-color);
  border-width: 12px 0px 12px 18px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
/* =================== next prev btn ==================== */

/* ===================== magazine post ========================== */
