@charset "utf-8";
/* e_eventing.css */

/* ================= #viewBox ================ */
#viewBox {
  width: 100%;
  height: 800px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--back-white);
  text-shadow: 0px 0px 8px rgb(0 0 0 / 80%);
}
#viewBox > ul {
  width: 1200px;
  height: 500px;
  margin: auto;

}
.view_title {
  float: left;
  width: 700px;
  height: 200px;
  padding-top: 100px;
  padding-right: 200px;

}
.view_title h2 {
  font-size: 2.25rem;
  padding-left: 20px;
}
.view_txt {
  position: relative;
  float: left;
  width: 700px;
  height: 300px;
  padding-left: 20px;
  padding-right: 200px;
}
.view_txt p {
  width: auto;
  height: auto;
  font-size: 1.125rem;
}
.view_btn {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 400px;
  height: 60px;
  background-color: var(--main-color);
}
.view_btn button {
  width: 100%;
  height: 100%;
}
.view_btn span {
  display: block;
  text-align: center;
  line-height: 60px;
  color: var(--back-white);
  font-weight: bold;
}
.eventing {
  background-image: url("../../img/event/20211027_01_u1rt_main.jpg");
}
/* ================= // #viewBox ================ */

#contatiner {
  width: 100%;
  height: 100%;
  margin: auto;
}
.contentList {
  width: auto;
  height: auto;
}
.contentList > ul {
  width: 1168px;
  height: auto;
  margin: auto;
  margin-top: 80px;
}
.contentList > ul > li {
  position: relative;
  float: left;
  width: 564px;
  height: 400px;
  margin-top: 40px;
  margin-right: 40px;
}
.contentList > ul > li:nth-child(2n) {
  margin-right: 0px;
}
.contentList > ul > li:nth-child(-n + 2) {
  margin-top: 0px;
}
.duringDate {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 80px;
  background-color: var(--main-color);
}
.duringDate span {
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--back-white)
}
.contentImg {
  position: absolute;
  top: 40px;
  right: 0;
  width: 540px;
  height: 260px;
  background-color: var(--light-gray01);
}
.contentImg a {
  display: block;
  width: 100%;
  height: 100%;
}
/* ==== event img ========================= */
.contentImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contentList li:nth-child(1) .contentImg {
  background-image: url("../../img/event/20211022_02_ex7m_list.jpg");
}
.contentList li:nth-child(2) .contentImg {
  background-image: url("../../img/event/20211019_01_dpjh_list.jpg");
}
.contentList li:nth-child(3) .contentImg {
  background-image: url("../../img/event/20211001_01_wo13_list.jpg");
}
.contentList li:nth-child(4) .contentImg {
  background-image: url("../../img/event/20210707_01_apxu_list.jpg");
}
.contentList li:nth-child(5) .contentImg {
  background-image: url("../../img/event/20210617_01_wo3z_list.jpg");
}
.contentList li:nth-child(6) .contentImg {
  background-image: url("../../img/event/20210517_01_smnz_list.jpg");
}
.contentList li:nth-child(7) .contentImg {
  background-image: url("../../img/event/20210101_02_loi8_list.jpg");
}
/* ==== event img ========================= */
.contentTxt {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 540px;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 20px;
  color: var(--back-white);
  background-color: var(--deep-gray01);
}
.contentTxt p {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 1.2rem;
  font-weight: bold;
}
.contentTxt > span {
  display: block;
  width: auto;
  height: auto;
  font-size: 1rem;
}