@charset "utf-8";
/* g_academy_info.css */
#footBox {
  margin-top: 0;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* ================= #viewBox ================ */
#viewBox {
  width: 100%;
  height: 500px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--back-white);
  text-shadow: 0px 0px 8px rgb(0 0 0 / 80%);
}
#viewBox h2 {
  width: 800px;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 2.25rem;
}
#viewBox p {
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#viewBox p:last-of-type {
  padding: 0px 100px;
}
.academy {
  background-image: url("../../img/academy/introduceAcademy/bg_aca_intro.jpg");
}
/* ================= // #viewBox ================ */
.academy_area {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 80px;
}
.academy_title {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
.academy_title h3 {
  width: 500px;
  height: auto;
  margin: auto;
  font-size: 2.25rem;
  text-align: center;
}
.academy_video {
  width: 1220px;
  height: 100%;
  margin: auto;
  margin-bottom: 40px;
}
.academy_video ul {
  width: 100%;
  height: 100%;
}
.academy_video li {
  float: left;
  width: 600px;
  height: 460px;
  margin-right: 20px;
  border: 1px solid var(--back-black);
  background-color: var(--light-gray01);
}
.academy_video li:last-of-type { margin-right: 0;}
/* video img ================================ */
.video_img {
  position: relative;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.academy_video li:nth-child(1) .video_img {
  background-image: url("../../img/academy/introduceAcademy/photo_37.jpg");
}
.academy_video li:nth-child(2) .video_img {
  background-image: url("../../img/academy/introduceAcademy/photo_35.jpg");
}
/* video img ================================ */
.video_txt {
  width: 100%;
  height: 20%;
  padding: 20px;
  background-color: var(--back-white);
}
.video_img::before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: var(--back-lightblue);
  border-radius: 100%;
  transform: translateY(-50%);
}
.video_img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 51.3%;
  margin: auto;
  border-radius: 5px;
  border: solid var(--main-color);
  border-width: 32px 0 32px 40px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: translate(-50%,-50%);
}
.more_page {
  width: 300px;
  height: 60px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: var(--main-color);
}
.more_page button {
  width: 100%;
  height: 100%;
}
.more_page button span {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/* ================================================== */
.introduce_pro_area {
  width: 100%;
  height: 100%;
}
.introduce_pro_title {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  background-image: url("../../img/academy/introduceAcademy/bg_aca_main_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  color: var(--back-white);
  text-shadow: 0px 0px 8px rgb(0 0 0 / 80%);
}
.introduce_pro_title h3 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.introduce_pro_title p {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  text-align: center;
}
/* ================================================== */
.introduce_pro_profile {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
.introduce_pro_profile h3 {
  font-size: 2.25rem;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.introduce_pro_profile ul {
  width: 1180px;
  height: 100%;
  margin: auto;
  margin-bottom: 40px;
}
.introduce_pro_profile > ul > li {
  float: left;
  width: 380px;
  height: 500px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid var(--light-gray01);
}
.introduce_pro_profile ul li:nth-child(-n + 3) {
  margin-top: 0;
} 
.introduce_pro_profile ul li:nth-child(3n) {
  margin-right: 0px;
}
.profile {
  width: 100%;
  height: 200px;
  padding-top: 40px;
  margin-bottom: 80px;
}
.profile .profile_img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 100%;
  background-color: var(--light-gray01);
}
.profile .profile_name {
  width: 100px;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--back-black);
}
.introduce_pro_profile hr {
  width: 90%;
  margin: auto;
  border: 1px solid var(--light-gray01);
}
.profile_txt {
  width: 100%;
  height: auto;
  padding: 10px 20px;
}
.profile_txt ul {
  width: 100%;
  height: auto;
}
.profile_txt li {
  width: 100%;
  height: 25px;
  list-style: disc;
  margin-left: 20px;
}
/* ============================================ */
.academy_gps {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../../img/academy/introduceAcademy/bg_aca_map.jpg");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}
.gps_mapBox {
  width: 1200px;
  height: auto;
  box-sizing: border-box;
  padding: 20px 20px;
  margin: auto;
  background-color: var(--back-white);
}
.academy_gps ul {
  width: auto;
  height: auto;
}
.gps_txt {
  position: relative;
  float: left;
  width: 380px;
  height: 600px;
  margin-right: 20px;
  background-color: #fff;
}
.gps_txt p { margin-bottom: 30px;}
.gps_txt dl { margin-bottom: 30px; }
.gps_txt dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}
.gps_txt p:nth-child(1){
  font-size: 2rem;
  font-weight: bold;
}
.gps_txt_img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 200px;
  background-image: url("../../img/academy/introduceAcademy/img_map_store.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gps_img {
  float: left;
  width: 760px;
  height: 600px;
  background-image: url("../../img/academy/introduceAcademy/img_map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}