@charset "utf-8";
/* j_log_in.css */

#container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* ============================================== */
.loginBox {
  width: 100%;
  height: 100%;
  padding-top: 160px;
}
.login_area {
  width: 800px;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  padding: 40px 180px;
  background-color: var(--back-lightblue);
}
/* ============================================== */
.login_area form {
  width: 100%;
  height: auto;
}
.login_part {
  width: 100%;
  height: auto;
}
.login_part ul {
  width: 100%;
  height: auto;
}
.login_part ul li {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
/* ============================================== */
.login_title {
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
}
#userId, #userPw {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid var(--light-gray01);
}
button[type="submit"] {
  width: 100%;
  height: 50px;
  color: var(--back-white);
  font-weight: bold;
  background-color: var(--main-color);
}
.forget_area {
  width: 100%;
  height: 40px;
  margin: auto;
}
.forget_area div {
  width: 220px;
  height: auto;
  margin: auto;
}
.forget_area a {
  position: relative;
  float: left;
  width: 100px;
  height: auto;
  margin-right: 10px;
  font-size: 0.8rem;
  text-align: center;
}
.forget_area a::after {
  position: absolute;
  top: 4px;
  right: -5px;
  content: "";
  width: 1px;
  height: 10px;
  background-color: var(--back-black);
}
.forget_area a:last-of-type { margin-right: 0; }
.forget_area a:last-of-type::after { display: none;}
.forget_area a span {
  width: auto;
  height: auto;
}
/* ========================================= */
hr {
  width: 100%;
  border: 1px solid var(--deep-gray01)
}
.sns_login {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.sns_login li {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid var(--deep-gray01);
}
.sns_login li:last-of-type { margin-bottom: 0;}
.sns_login li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 20px;
  color: #fff;
}
.sns_icon {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/login/ico_sns_log.png");
  background-repeat: no-repeat;
  background-size: 108px;
}
.sns_icon::after {
  position: absolute;
  top: 6px;
  right: -20px;
  content: "";
  width: 1px;
  height: 20px;
  background-color: var(--deep-gray01);
}
.sns_txt {
  display: block;
  width: auto;
  height: auto;
  font-size: 1rem;
  line-height: 28px;
  color: var(--back-black);
}
.naver_icon {
  background-position: left top;
}
.kakao_icon {
  background-position: center top;
}
.facebook_icon {
  background-position: right top;
}
/* ========================================= */
.signUp_go {
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid var(--deep-gray01);
  background-image: url("../../img/login/bg_joinbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.signUp_go p {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  color: var(--back-white);
}
.signUp_go p:nth-child(1) {font-size: 1.2rem; font-weight: bold;}
.signUp_go p:nth-child(2) { font-size: 0.8rem;}
.signUp_go a {
  display: block;
  width: 140px;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: var(--back-white);
  font-weight: bold;
  text-decoration: none;
  border: 3px solid var(--main-color);
}
.signUp_go a:hover,
.signUp_go a:focus {
  font-size: 1.125rem;
  color: var(--main-color);
}
/* ======================================== */
.sign_notice {
  width: 800px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  font-size: 1rem;
}
.sign_notice li {
  padding-left: 10px;
  word-break: keep-all;
}
.sign_notice li::before {
  content: "-";
  display: inline;
  margin: 0px 4px 0 -5px;
}