/* prophotographer.scss */
/* variable.css */
:root {
  font-size: 16px;
}

#headBox {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  height: 5rem;
  margin: auto;
  background-color: #03010f;
}
.head_wrap {
  width: auto;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  padding-top: 0.625rem;
  background-color: inherit;
}
h1 {
  float: left;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  margin: auto;
  margin-left: 10px;
  margin-left: 0.625rem;
}
h1 a {
  display: block;
  width: 100%;
  height: 100%;
}

#navigation {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 100px;
  margin-left: 6.25rem;
  color: #03010f;
}
#navigation .gnb_btn {
  display: none;
}
#navigation .gnb_close {
  display: none;
}
.gnb {
  width: auto;
  height: 60px;
  height: 3.75rem;
  padding-top: 10px;
  padding-top: 0.625rem;
  margin-right: 200px;
  margin-right: 12.5rem;
  text-align: center;
}
.gnb > ul {
  display: inline-block;
  width: auto;
  height: 100%;
}
.gnb > ul > li {
  position: relative;
  float: left;
  width: 90px;
  width: 5.625rem;
  height: 100%;
  margin-right: 17px;
  margin-right: 1.0625rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  line-height: 2.5rem;
  color: #ffffff;
}
.gnb > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.gnb > ul > li a:focus,
.gnb > ul > li a:hover {
  font-weight: bold;
  color: #e75300;
}
.sub_menu {
  display: none;
  position: absolute;
  top: 50px;
  top: 3.125rem;
  left: -20px;
  left: -1.25rem;
}
.sub_menu li {
  width: auto;
  min-width: 140px;
  min-width: 8.75rem;
  height: auto;
  text-align: start;
  white-space: nowrap;
  padding: 5px 20px 5px 20px;
  padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
  color: #ffffff;
  background-color: #03010fdd;
}
.sub_menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
.sub_menu li a:hover {
  font-weight: 700;
  color: #e75300;
}

.gnb > ul > li:hover .sub_menu {
  display: block;
}
.gnb > ul .last_gnbMenu {
  margin-right: 0px;
}
.gnb > ul .moblie_login {
  display: none;
}
.gnb > ul .mobile_signUp {
  display: none;
}

.unb {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 40px;
  height: 2.5rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-right: 60px;
  margin-right: 3.75rem;
}
.unb > ul {
  width: auto;
  height: 100%;
}
.unb > ul li {
  color: #ffffff;
}
.unb > ul .login_txt,
.unb > ul .signUp_txt {
  position: relative;
  float: left;
  width: auto;
  height: 100%;
  margin: 0px 10px 0px 10px;
  margin: 0rem 0.625rem 0rem 0.625rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  line-height: 2.5rem;
}
.unb > ul .login_txt {
  word-spacing: -4px;
  word-spacing: -0.25rem;
}
.unb > ul .login_txt::after {
  content: "";
  position: absolute;
  top: 16px;
  top: 1rem;
  right: -10px;
  right: -0.625rem;
  width: 1px;
  width: 0.0625rem;
  height: 10px;
  height: 0.625rem;
  background-color: #ffffff;
}
.search_area {
  float: right;
  width: 40px;
  width: 2.5rem;
  height: 100%;
  margin-right: 0px;
}
.search_area .search_open_btn {
  display: block;
  width: 100%;
  height: 100%;
}
.search_area .search_open_btn img {
  width: 100%;
  height: 100%;
  filter: invert(99%) sepia(22%) saturate(2%) hue-rotate(105deg) brightness(106%) contrast(100%);
}
.search_area .search_open_btn:hover img {
  filter: invert(48%) sepia(63%) saturate(6360%) hue-rotate(8deg) brightness(97%) contrast(101%);
}

.unb > ul li a:hover,
.unb > ul li a:focus {
  font-weight: 700;
  color: #e75300;
  text-decoration: none;
}

.search_modal {
  display: none;
}
.search_modal .search_engin {
  overflow-x: hidden;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 1000px;
  width: 62.5rem;
  height: 600px;
  height: 37.5rem;
  border: 1px solid #e75300;
  border: 0.0625rem solid #e75300;
  background-color: #ffffff;
}
.search_modal .search_engin .search_topBox {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.search_modal .search_engin .search_topBox .search_close_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  background-image: url("../../img/cross_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
.search_modal .search_engin input {
  width: 600px;
  width: 37.5rem;
  height: 40px;
  height: 2.5rem;
  padding: 5px;
  padding: 0.3125rem;
}
.search_modal .search_engin ul {
  overflow-y: auto;
  position: absolute;
  top: 20%;
  left: 10%;
  margin-top: 20px;
  margin-top: 1.25rem;
  width: 900px;
  width: 56.25rem;
  height: 400px;
  height: 25rem;
  box-sizing: content-box;
  padding-right: 160px;
  padding-right: 10rem;
  text-align: start;
}
.search_modal .search_engin ul li {
  width: 90%;
  height: auto;
  list-style: disc;
  line-height: 40px;
  line-height: 2.5rem;
  border-top: 1px solid #e75300;
  border-top: 0.0625rem solid #e75300;
  border-bottom: 1px solid #e75300;
  border-bottom: 0.0625rem solid #e75300;
  color: #03010f;
}
.search_modal .search_engin ul li:nth-child(even) {
  border-top: 0;
  border-bottom: 0;
}
.search_modal .search_engin ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#search_icon {
  position: absolute;
  top: 70px;
  top: 4.375rem;
  left: 0;
  right: 0;
  width: 90%;
  height: 40px;
  height: 2.5rem;
  margin: auto;
  border: 1px solid #03010f;
  border: 0.0625rem solid #03010f;
}

.search_modal .search_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #03010fdd;
}

@media all and (max-width: 479px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  #navigation .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 10px 20px 0px 20px;
    margin: 0.625rem 1.25rem 0rem 1.25rem;
    border-bottom: 4px solid #ffffff;
    border-bottom: 0.25rem solid #ffffff;
  }
  #navigation .gnb_btn::before, #navigation .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  #navigation .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  #navigation .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  #navigation .gnb_close {
    display: none;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 20px;
    right: 1.25rem;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    background-image: url("../../img/cross_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #navigation .gnb {
    display: none;
    position: fixed;
    top: 80px;
    top: 5rem;
    width: 100%;
    height: 100vw;
    background-color: #03010f;
  }
  #navigation .gnb > ul {
    width: 100%;
    height: 100%;
  }
  #navigation .gnb > ul > li {
    display: block;
    width: 100%;
    height: 60px;
    height: 3.75rem;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .sub_menu {
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .sub_menu li {
    display: block;
    text-align: center;
  }

  #navigation .moblie_login {
    display: block;
  }
  #navigation .mobile_signUp {
    display: block;
  }
  #navigation .unb {
    position: absolute;
    top: 0;
    right: 80px;
    right: 5rem;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-right: 0;
  }
  #navigation .login_txt {
    display: none;
  }
  #navigation .signUp_txt {
    display: none;
  }
  #navigation .search_engin {
    width: 300px;
    width: 18.75rem;
    height: 540px;
    height: 33.75rem;
  }
  #navigation .search_engin ul {
    width: 100%;
    height: 340px;
    height: 21.25rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-left: 10px;
    padding-left: 0.625rem;
    left: 0;
  }
  #navigation #search_icon {
    width: 90%;
    height: auto;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  #navigation .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 10px 20px 0px 20px;
    margin: 0.625rem 1.25rem 0rem 1.25rem;
    border-bottom: 1px 4 #ffffff;
    border-bottom: 0.0625rem 4 #ffffff;
  }
  #navigation .gnb_btn::before, #navigation .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  #navigation .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  #navigation .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  #navigation .gnb_close {
    display: none;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 20px;
    right: 1.25rem;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    background-image: url("../../img/cross_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #navigation .gnb {
    display: none;
    position: fixed;
    top: 80px;
    top: 5rem;
    width: 100%;
    height: 100vw;
    background-color: #03010f;
  }
  #navigation .gnb > ul {
    width: 100%;
    height: 100%;
  }
  #navigation .gnb > ul > li {
    display: block;
    width: 100%;
    height: 60px;
    height: 3.75rem;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .sub_menu {
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .sub_menu li {
    display: block;
    text-align: center;
  }

  #navigation .moblie_login {
    display: block;
  }
  #navigation .mobile_signUp {
    display: block;
  }
  #navigation .unb {
    position: absolute;
    top: 0;
    right: 80px;
    right: 5rem;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-right: 0;
  }
  #navigation .login_txt {
    display: none;
  }
  #navigation .signUp_txt {
    display: none;
  }
  #navigation .search_engin {
    width: 400px;
    width: 25rem;
    height: 540px;
    height: 33.75rem;
  }
  #navigation .search_engin ul {
    width: 100%;
    height: 340px;
    height: 21.25rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-left: 10px;
    padding-left: 0.625rem;
    left: 0;
  }
  #navigation #search_icon {
    width: 90%;
    height: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  #navigation .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 10px 20px 0px 20px;
    margin: 0.625rem 1.25rem 0rem 1.25rem;
    border-bottom: 4px solid #ffffff;
    border-bottom: 0.25rem solid #ffffff;
  }
  #navigation .gnb_btn::before, #navigation .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  #navigation .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  #navigation .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  #navigation .gnb_close {
    display: none;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 20px;
    right: 1.25rem;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    background-image: url("../../img/cross_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #navigation .gnb {
    display: none;
    position: fixed;
    top: 80px;
    top: 5rem;
    width: 100%;
    height: 100vw;
    background-color: #03010f;
  }
  #navigation .gnb > ul {
    width: 100%;
    height: 100%;
  }
  #navigation .gnb > ul > li {
    display: block;
    width: 100%;
    height: 60px;
    height: 3.75rem;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .sub_menu {
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .sub_menu li {
    display: block;
    text-align: center;
  }

  #navigation .moblie_login {
    display: block;
  }
  #navigation .mobile_signUp {
    display: block;
  }
  #navigation .unb {
    position: absolute;
    top: 0;
    right: 80px;
    right: 5rem;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-right: 0;
  }
  #navigation .login_txt {
    display: none;
  }
  #navigation .signUp_txt {
    display: none;
  }
  #navigation .search_engin {
    width: 680px;
    width: 42.5rem;
    height: 620px;
    height: 38.75rem;
  }
  #navigation .search_engin ul {
    width: 100%;
    height: 340px;
    height: 21.25rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-left: 10px;
    padding-left: 0.625rem;
    left: 0;
  }
  #navigation #search_icon {
    width: 90%;
    height: auto;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  #navigation .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 10px 20px 0px 20px;
    margin: 0.625rem 1.25rem 0rem 1.25rem;
    border-bottom: 4px solid #ffffff;
    border-bottom: 0.25rem solid #ffffff;
  }
  #navigation .gnb_btn::before, #navigation .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  #navigation .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  #navigation .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  #navigation .gnb_close {
    display: none;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 20px;
    right: 1.25rem;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    background-image: url("../../img/cross_white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #navigation .gnb {
    display: none;
    position: fixed;
    top: 80px;
    top: 5rem;
    width: 100%;
    height: 100vw;
    background-color: #03010f;
  }
  #navigation .gnb > ul {
    width: 100%;
    height: 100%;
  }
  #navigation .gnb > ul > li {
    display: block;
    width: 100%;
    height: 60px;
    height: 3.75rem;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .sub_menu {
    display: none;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .sub_menu li {
    display: block;
    text-align: center;
  }

  #navigation .moblie_login {
    display: block;
  }
  #navigation .mobile_signUp {
    display: block;
  }
  #navigation .unb {
    position: absolute;
    top: 0;
    right: 80px;
    right: 5rem;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
    margin-top: 10px;
    margin-top: 0.625rem;
    margin-right: 0;
  }
  #navigation .login_txt {
    display: none;
  }
  #navigation .signUp_txt {
    display: none;
  }
  #navigation .search_engin {
    width: 680px;
    width: 42.5rem;
    height: 620px;
    height: 38.75rem;
  }
  #navigation .search_engin ul {
    width: 100%;
    height: 340px;
    height: 21.25rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    padding-left: 10px;
    padding-left: 0.625rem;
    left: 0;
  }
  #navigation #search_icon {
    width: 90%;
    height: auto;
  }
}
@media all and (min-width: 2560px) {
  .head_wrap {
    width: 2560px;
  }
}
#viewBox {
  width: 100%;
  height: 680px;
  height: 42.5rem;
  padding-top: 300px;
  padding-top: 18.75rem;
  color: #ffffff;
  background-color: #03010f;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  text-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
}
#viewBox h2 {
  width: 800px;
  width: 50rem;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 54px;
  font-size: 3.375rem;
}
#viewBox p {
  width: 800px;
  width: 50rem;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-top: 1.25rem;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}

.overseas {
  background-image: url("../../img/prophotographer/bg_pro_overseas.jpg");
}

.domestic {
  background-image: url("../../img/prophotographer/main_janghaena.jpg");
}

#proBox {
  width: 1280px;
  width: 80rem;
  height: 100%;
  margin: auto;
  padding-top: 80px;
  padding-top: 5rem;
  background-color: #ffffff;
}
#proBox ul {
  width: 100%;
  height: 100%;
  padding: 0px 50px 0px 50px;
  padding: 0rem 3.125rem 0rem 3.125rem;
}
#proBox ul li {
  float: left;
  width: 380px;
  width: 23.75rem;
  height: 480px;
  height: 30rem;
  margin-top: 20px;
  margin-top: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem;
  border-radius: 20px;
  border-radius: 1.25rem;
  background-color: #6f6f75;
}
#proBox ul li:nth-child(-n+3) {
  margin-top: 0px;
}
#proBox ul li:nth-child(3n) {
  margin-right: 0px;
}
.pro_img {
  width: 100%;
  height: 300px;
  height: 18.75rem;
  border-top-left-radius: 20px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 20px;
  border-top-right-radius: 1.25rem;
  background-color: #333335;
}

.pro_txt {
  width: 100%;
  height: 40px;
  height: 2.5rem;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  line-height: 2.5rem;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #03010f;
}

.pro_profile {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 140px;
  height: 8.75rem;
  box-sizing: border-box;
  padding: 20px;
  padding: 1.25rem;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 20px;
  border-bottom-right-radius: 1.25rem;
  background-color: #03010f;
}
.pro_profile .profile_img {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100px;
  width: 6.25rem;
  height: 100px;
  height: 6.25rem;
  border-radius: 50%;
  transition: all 100ms linear 100ms;
}
.pro_profile .profile_img a {
  display: block;
  width: 100%;
  height: 100%;
}
.pro_profile .img_txt {
  position: absolute;
  z-index: 9;
  top: 20px;
  top: 1.25rem;
  bottom: 0;
  right: -350px;
  right: -21.875rem;
  margin: auto;
  margin-right: 40px;
  margin-right: 2.5rem;
  width: 310px;
  width: 19.375rem;
  height: 80px;
  height: 5rem;
  padding: 10px 10px 10px 60px;
  padding: 0.625rem 0.625rem 0.625rem 3.75rem;
  border-radius: 20px;
  border-radius: 1.25rem;
  transition: 1000s;
  background-clip: padding-box;
  color: #03010f;
  background-color: #ffffff;
  transition: all 100ms linear;
}
.pro_profile .img_txt a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.pro_profile .img_txt a p {
  text-align: end;
}
.pro_profile:hover .profile_img {
  transition: all 100ms linear;
  right: 250px;
  right: 15.625rem;
}
.pro_profile:hover .img_txt {
  transition: all 100ms linear 100ms;
  margin-right: 0;
  right: 20px;
  right: 1.25rem;
}

/* ======== pro_img, profile_img ========= */
.pro_img, .profile_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* pro_img ========================================== */
#proBox ul li:nth-child(1) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Ail.jpg");
}

#proBox ul li:nth-child(2) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Alysius.jpg");
}

#proBox ul li:nth-child(3) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Andre.jpg");
}

#proBox ul li:nth-child(4) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Ben.jpg");
}

#proBox ul li:nth-child(5) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Billy.jpg");
}

#proBox ul li:nth-child(6) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Bryan.jpg");
}

#proBox ul li:nth-child(7) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Bryanvan.jpg");
}

#proBox ul li:nth-child(8) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Bui.jpg");
}

#proBox ul li:nth-child(9) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Cheng.jpg");
}

#proBox ul li:nth-child(10) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Conrad.jpg");
}

#proBox ul li:nth-child(11) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Craig.jpg");
}

#proBox ul li:nth-child(12) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Daniel.jpg");
}

#proBox ul li:nth-child(13) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Darren.jpg");
}

#proBox ul li:nth-child(14) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-David.jpg");
}

#proBox ul li:nth-child(15) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-DB.jpg");
}

#proBox ul li:nth-child(16) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Dheeraj.jpg");
}

#proBox ul li:nth-child(17) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Diinesh.jpg");
}

#proBox ul li:nth-child(18) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Dow.jpg");
}

#proBox ul li:nth-child(19) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Dusit.jpg");
}

#proBox ul li:nth-child(20) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Eddie.jpg");
}

#proBox ul li:nth-child(21) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Eric.jpg");
}

#proBox ul li:nth-child(22) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Fajar.jpg");
}

#proBox ul li:nth-child(23) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Fakrul.jpg");
}

#proBox ul li:nth-child(24) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Gary.jpg");
}

#proBox ul li:nth-child(25) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Hoang.jpg");
}

#proBox ul li:nth-child(26) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Hussain.jpg");
}

#proBox ul li:nth-child(27) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Jiggie.jpg");
}

#proBox ul li:nth-child(28) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Jonathan.jpg");
}

#proBox ul li:nth-child(29) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Kelvin.jpg");
}

#proBox ul li:nth-child(30) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Kriengkrai.jpg");
}

#proBox ul li:nth-child(31) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Leung.jpg");
}

#proBox ul li:nth-child(32) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Liang.jpg");
}

#proBox ul li:nth-child(33) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Mark.jpg");
}

#proBox ul li:nth-child(34) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Nguyen.jpg");
}

#proBox ul li:nth-child(35) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-NguyenDoc.jpg");
}

#proBox ul li:nth-child(36) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-NguyenThanh.jpg");
}

#proBox ul li:nth-child(37) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Nicholas.jpg");
}

#proBox ul li:nth-child(38) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Nick.jpg");
}

#proBox ul li:nth-child(39) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Nicky.jpg");
}

#proBox ul li:nth-child(40) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Po.jpg");
}

#proBox ul li:nth-child(41) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Prakash.jpg");
}

#proBox ul li:nth-child(42) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Rosli.jpg");
}

#proBox ul li:nth-child(43) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Sam.jpg");
}

#proBox ul li:nth-child(44) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Sarah.jpg");
}

#proBox ul li:nth-child(45) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Sixpence.jpg");
}

#proBox ul li:nth-child(46) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Stanley.jpg");
}

#proBox ul li:nth-child(47) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Stefan.jpg");
}

#proBox ul li:nth-child(48) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Tavepong.jpg");
}

#proBox ul li:nth-child(49) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Tripeaksimagery.jpg");
}

#proBox ul li:nth-child(50) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Urasha.jpg");
}

#proBox ul li:nth-child(51) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Vin.jpg");
}

#proBox ul li:nth-child(52) .pro_img {
  background-image: url("../../img/prophotographer/overseas/list-Will.jpg");
}

/* // pro_img ========================================== */
/* pro_profile ======================================== */
#proBox ul li:nth-child(1) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Ail.png");
}

#proBox ul li:nth-child(2) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Alysius.png");
}

#proBox ul li:nth-child(3) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Andre.png");
}

#proBox ul li:nth-child(4) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Ben.png");
}

#proBox ul li:nth-child(5) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Billy.png");
}

#proBox ul li:nth-child(6) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Bryan.png");
}

#proBox ul li:nth-child(7) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Bryanvan.png");
}

#proBox ul li:nth-child(8) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Bui.png");
}

#proBox ul li:nth-child(9) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Cheng.png");
}

#proBox ul li:nth-child(10) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Conrad.png");
}

#proBox ul li:nth-child(11) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Craig.png");
}

#proBox ul li:nth-child(12) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Daniel.png");
}

#proBox ul li:nth-child(13) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Darren.png");
}

#proBox ul li:nth-child(14) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-David.png");
}

#proBox ul li:nth-child(15) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-DB.png");
}

#proBox ul li:nth-child(16) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Dheeraj.png");
}

#proBox ul li:nth-child(17) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Diinesh.png");
}

#proBox ul li:nth-child(18) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Dow.png");
}

#proBox ul li:nth-child(19) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Dusit.png");
}

#proBox ul li:nth-child(20) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Eddie.png");
}

#proBox ul li:nth-child(21) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Eric.png");
}

#proBox ul li:nth-child(22) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Fajar.png");
}

#proBox ul li:nth-child(23) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Fakrul.png");
}

#proBox ul li:nth-child(24) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Gary.png");
}

#proBox ul li:nth-child(25) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Hoang.png");
}

#proBox ul li:nth-child(26) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Hussain.png");
}

#proBox ul li:nth-child(27) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Jiggie.png");
}

#proBox ul li:nth-child(28) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Jonathan.png");
}

#proBox ul li:nth-child(29) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Kelvin.png");
}

#proBox ul li:nth-child(30) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Kriengkrai.png");
}

#proBox ul li:nth-child(31) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Leung.png");
}

#proBox ul li:nth-child(32) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Liang.png");
}

#proBox ul li:nth-child(33) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Mark.png");
}

#proBox ul li:nth-child(34) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Nguyen.png");
}

#proBox ul li:nth-child(35) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-NguyenDoc.png");
}

#proBox ul li:nth-child(36) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-NguyenThanh.png");
}

#proBox ul li:nth-child(37) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Nicholas.png");
}

#proBox ul li:nth-child(38) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Nick.png");
}

#proBox ul li:nth-child(39) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Nicky.png");
}

#proBox ul li:nth-child(40) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Po.png");
}

#proBox ul li:nth-child(41) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Prakash.png");
}

#proBox ul li:nth-child(42) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Rosli.png");
}

#proBox ul li:nth-child(43) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Sam.png");
}

#proBox ul li:nth-child(44) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Sarah.png");
}

#proBox ul li:nth-child(45) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Sixpence.png");
}

#proBox ul li:nth-child(46) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Stanley.png");
}

#proBox ul li:nth-child(47) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Stefan.png");
}

#proBox ul li:nth-child(48) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Tavepong.png");
}

#proBox ul li:nth-child(49) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Tripeaksimagery.png");
}

#proBox ul li:nth-child(50) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Urasha.png");
}

#proBox ul li:nth-child(51) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Vin.png");
}

#proBox ul li:nth-child(52) .pro_profile .profile_img {
  background-image: url("../../img/prophotographer/overseas/pro-Will.png");
}

/* // pro_profile ======================================== */
/* ======== pro_img, pro_profile ========= */
#footBox {
  width: 100%;
  height: auto;
  padding: 40px 0px 40px 0px;
  padding: 2.5rem 0rem 2.5rem 0rem;
  background-color: #03010f;
}
.foot_area {
  width: 1140px;
  width: 71.25rem;
  height: auto;
  margin: auto;
}
.foot_area .other_site {
  width: 376px;
  width: 23.5rem;
  height: auto;
}
.siteNav {
  position: relative;
  width: 100%;
  height: auto;
}
.siteNav > ul {
  width: 100%;
  height: 100%;
}
.siteNav > ul > li {
  width: 100%;
  height: 60px;
  height: 3.75rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  background-color: #333335;
  color: #ffffff;
}
.siteNav > ul > li:last-child {
  margin-bottom: 0;
}
.siteNav > ul > li button .other_txt {
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #ffffff;
  text-transform: uppercase;
}
.family_site button {
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 20px;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}
.family_site button span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: start;
  line-height: 40px;
  line-height: 2.5rem;
}
.family_site .sub_family {
  display: none;
  position: absolute;
  top: calc(-100% + -100px);
  top: calc(-100% + -6.25rem);
  left: 0;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}
.family_site .sub_family li {
  width: 100%;
  height: 50px;
  height: 3.125rem;
  height: 50px;
  padding: 10px 20px 10px 20px;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  background-color: #03010f;
}
.family_site .sub_family li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.family_site .sub_family li span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 25px;
  line-height: 1.5625rem;
}
.family_site .sub_family.active {
  display: block;
}

.siteNav > ul .global_site button {
  width: 100%;
  height: 100%;
  padding: 10px 20px 10px 20px;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}
.siteNav > ul .global_site button span {
  display: block;
  text-align: start;
}
.siteNav > ul .global_site:hover button span,
.siteNav > ul .global_site:focus button span {
  font-weight: 700;
  color: #e75300;
}
.siteNav > ul .sub_family li:hover,
.siteNav > ul .sub_family li:focus,
.siteNav > ul .family_site:hover button span {
  font-weight: 700;
  color: #e75300;
}

.foot_area .other_site .sns_site {
  width: 100%;
  height: 46px;
  height: 2.875rem;
  margin-top: 40px;
  margin-top: 2.5rem;
}
.foot_area .other_site .sns_site ul {
  width: 100%;
  height: auto;
}
.foot_area .other_site .sns_site ul li {
  float: left;
  width: 46px;
  width: 2.875rem;
  height: 46px;
  height: 2.875rem;
  margin-right: 20px;
  margin-right: 1.25rem;
  border-radius: 100%;
}
.foot_area .other_site .sns_site ul li:last-child {
  margin-right: 0;
}
.foot_area .other_site .sns_site ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.foot_area .other_site .sns_site ul li a .company_sns_icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 230%;
  background-position: left top;
}
.foot_area .other_site .sns_site ul li a .facebook {
  background-image: url("../../img/common/ico_sns_facebook.png");
}
.foot_area .other_site .sns_site ul li a .instar {
  background-image: url("../../img/common/ico_sns_instar.png");
}
.foot_area .other_site .sns_site ul li a .youtube {
  background-image: url("../../img/common/ico_sns_youtube.png");
}
.foot_area .other_site .sns_site ul li a .sonyblog {
  background-image: url("../../img/common/ico_sns_blog.png");
}
.foot_area .other_site .sns_site ul li a .naverpost {
  background-image: url("../../img/common/ico_sns_post.png");
}
.foot_area .other_site .sns_site ul li a .naverband {
  background-image: url("../../img/common/ico_sns_band.png");
}
.foot_area .company_info {
  width: auto;
  height: 100%;
  margin: auto;
}
.foot_area .company_info li {
  position: relative;
  float: left;
  width: auto;
  height: 100%;
  padding: 0px 10px 0px 10px;
  padding: 0rem 0.625rem 0rem 0.625rem;
  color: #ffffff;
}
.foot_area .company_info li a {
  display: block;
  width: auto;
  height: auto;
  text-decoration: none;
}
.foot_area .company_info li::after {
  position: absolute;
  top: 8px;
  top: 0.5rem;
  left: 0;
  content: "";
  width: 1px;
  width: 0.0625rem;
  height: 10px;
  height: 0.625rem;
  background-color: #ffffff;
}
.foot_area .company_info li:first-child::after {
  display: none;
}
.foot_area .company_info li:hover {
  font-weight: 700;
}
.foot_area .company_info li:nth-child(2):hover {
  color: #e75300;
}
.foot_area .company_info address {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-top: 3.75rem;
  color: #ffffff;
}
.foot_area .company_info .copyright {
  margin-top: 40px;
  margin-top: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

@media all and (max-width: 479px) {
  .foot_area {
    width: 280px;
    width: 17.5rem;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .siteNav > ul {
    width: 100%;
    height: auto;
  }
  .foot_area .other_site .sns_site {
    position: relative;
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site ul li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .foot_area {
    width: 320px;
    width: 20rem;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .siteNav > ul {
    width: 100%;
    height: auto;
  }
  .foot_area .other_site .sns_site {
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site ul li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .foot_area {
    width: 700px;
    width: 43.75rem;
    margin: auto;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .siteNav > ul {
    float: left;
    width: 376px;
    width: 23.5rem;
  }
  .siteNav .sub_family {
    top: calc(-100% + -276px);
    top: calc(-100% + -17.25rem);
  }

  .foot_area .other_site .sns_site {
    float: right;
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site ul li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .foot_area {
    width: 700px;
    width: 43.75rem;
    margin: auto;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .siteNav > ul {
    float: left;
    width: 376px;
    width: 23.5rem;
  }
  .siteNav .sub_family {
    top: calc(-100% + -276px);
    top: calc(-100% + -17.25rem);
  }

  .foot_area .other_site .sns_site {
    float: right;
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin: 20px 0px 20px 0px;
    margin: 1.25rem 0rem 1.25rem 0rem;
  }
  .foot_area .other_site .sns_site li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
  .foot_area {
    width: 1140px;
  }

  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@media all and (min-width: 1920px) and (max-width: 2559px) {
  .foot_area {
    width: 1140px;
  }

  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@media all and (min-width: 2560px) {
  .foot_wrap {
    width: 2560px;
    margin: auto;
  }

  .foot_area {
    width: 1140px;
    margin: auto;
  }

  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}

/*# sourceMappingURL=prophotographer.css.map */
