/* seminaring.scss */
/* variable.css */
:root {
  font-size: 16px;
}

#headBox {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  height: 5rem;
  margin: auto;
  background-color: #03010f;
}
.head_wrap {
  width: auto;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  padding-top: 0.625rem;
  background-color: inherit;
}
h1 {
  float: left;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  margin: auto;
  margin-left: 10px;
  margin-left: 0.625rem;
}
h1 a {
  display: block;
  width: 100%;
  height: 100%;
}

#navigation {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-top: 0.625rem;
  margin-left: 100px;
  margin-left: 6.25rem;
  color: #03010f;
}
.unb {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 60px;
  height: 3.75rem;
  margin-right: 10px;
  margin-right: 0.625rem;
}
.unb > ul {
  width: auto;
  height: 100%;
  margin-top: 5px;
  margin-top: 0.3125rem;
}
.unb > ul li {
  float: left;
  width: auto;
  color: #ffffff;
}
.unb > ul li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
.unb > ul li > a:focus, .unb > ul li > a:hover {
  font-weight: 700;
  color: #e75300;
}
.unb > ul li.login_txt, .unb > ul li.signUp_txt {
  position: relative;
  float: left;
  width: auto;
  height: 100%;
  margin: 0px 10px 0px 10px;
  margin: 0rem 0.625rem 0rem 0.625rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  line-height: 2.5rem;
}
.unb > ul li.login_txt {
  word-spacing: -4px;
  word-spacing: -0.25rem;
}
.unb > ul li.login_txt::after {
  content: "";
  position: absolute;
  top: 16px;
  top: 1rem;
  right: -10px;
  right: -0.625rem;
  width: 1px;
  width: 0.0625rem;
  height: 10px;
  height: 0.625rem;
  background-color: #ffffff;
}
.unb > ul li a:hover, .unb > ul li a:focus {
  color: #e75300;
  text-decoration: none;
}
.unb > ul li .gnb_btn {
  display: none;
}
.unb > ul li.search_part {
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
}
.unb > ul li.search_part .search {
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
}
.unb > ul li.search_part .search img {
  width: 100%;
  height: 100%;
  filter: invert(99%) sepia(22%) saturate(2%) hue-rotate(105deg) brightness(106%) contrast(100%);
}
.unb > ul li.search_part .search:hover img {
  filter: invert(48%) sepia(63%) saturate(6360%) hue-rotate(8deg) brightness(97%) contrast(101%);
}

.gnb {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 60px;
  height: 3.75rem;
  margin-right: 200px;
  margin-right: 12.5rem;
  text-align: center;
}
.gnb > ul {
  display: inline-block;
  width: auto;
  height: 100%;
}
.gnb > ul > li {
  position: relative;
  float: left;
  width: 90px;
  width: 5.625rem;
  height: 100%;
  margin-right: 17px;
  margin-right: 1.0625rem;
  line-height: 50px;
  line-height: 3.125rem;
  color: #ffffff;
}
.gnb > ul > li > div {
  width: 100%;
  height: 100%;
}
.gnb > ul > li > div > a {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
.gnb > ul > li > div > a:focus, .gnb > ul > li > div > a:hover {
  font-weight: 700;
  color: #e75300;
}
.sub_menu {
  display: none;
  position: absolute;
  top: 58px;
  top: 3.625rem;
  left: -20px;
  left: -1.25rem;
}
.sub_menu > li {
  width: 100%;
  min-width: 140px;
  min-width: 8.75rem;
  height: auto;
  text-align: start;
  white-space: nowrap;
  padding: 5px 20px 5px 20px;
  padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
  color: #ffffff;
  background-color: #03010fdd;
}
.sub_menu > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: start;
}
.sub_menu > li a:hover {
  font-weight: 700;
  color: #e75300;
}

.gnb > ul > li.on .sub_menu {
  display: block;
}
.gnb > ul .last_gnbMenu {
  margin-right: 0;
}

.search_modal {
  display: none;
}
.search_modal .search_engin {
  overflow-x: hidden;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 1000px;
  width: 62.5rem;
  height: 600px;
  height: 37.5rem;
  border: 1px solid #e75300;
  border: 0.0625rem solid #e75300;
  background-color: #ffffff;
}
.search_modal .search_engin .search_topBox {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.search_modal .search_engin .search_topBox .search_close_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
}
.search_modal .search_engin .search_topBox .search_close_btn::before {
  content: "";
  position: absolute;
  top: 25px;
  top: 1.5625rem;
  right: 5px;
  right: 0.3125rem;
  display: block;
  border: 3px solid #03010f;
  border: 0.1875rem solid #03010f;
  width: 40px;
  width: 2.5rem;
  height: auto;
  border-radius: 5px;
  border-radius: 0.3125rem;
  background-color: #03010f;
  transform: rotate(135deg);
}
.search_modal .search_engin .search_topBox .search_close_btn::after {
  content: "";
  position: absolute;
  top: 25px;
  top: 1.5625rem;
  right: 5px;
  right: 0.3125rem;
  display: block;
  border: 3px solid #03010f;
  border: 0.1875rem solid #03010f;
  width: 40px;
  width: 2.5rem;
  height: auto;
  border-radius: 5px;
  border-radius: 0.3125rem;
  background-color: #03010f;
  transform: rotate(45deg);
}
#search_icon {
  position: absolute;
  top: 70px;
  top: 4.375rem;
  left: 0;
  right: 0;
  width: 90%;
  height: 40px;
  height: 2.5rem;
  margin: auto;
  padding: 5px;
  padding: 0.3125rem;
  border: 1px solid #03010f;
  border: 0.0625rem solid #03010f;
}

.search_modal .search_engin ul {
  overflow-y: auto;
  position: absolute;
  top: 20%;
  left: 10%;
  margin-top: 20px;
  margin-top: 1.25rem;
  width: 900px;
  width: 56.25rem;
  height: 400px;
  height: 25rem;
  box-sizing: content-box;
  padding-right: 160px;
  padding-right: 10rem;
  text-align: start;
}
.search_modal .search_engin ul li {
  width: 90%;
  height: auto;
  line-height: 40px;
  line-height: 2.5rem;
  border-top: 1px solid #e75300;
  border-top: 0.0625rem solid #e75300;
  border-bottom: 1px solid #e75300;
  border-bottom: 0.0625rem solid #e75300;
  color: #03010f;
}
.search_modal .search_engin ul li:nth-child(even) {
  border-top: 0;
  border-bottom: 0;
}
.search_modal .search_engin ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.search_modal .search_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  background-color: #03010fdd;
}

@media all and (max-width: 479px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  .unb {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 60px;
    height: 3.75rem;
    margin-right: 0px;
    margin-right: 0rem;
  }
  .unb > ul {
    width: auto;
    height: 100%;
    margin-top: 5px;
    margin-top: 0.3125rem;
  }
  .unb > ul li {
    float: left;
    color: #ffffff;
  }
  .unb > ul li > a:focus, .unb > ul li > a:hover {
    font-weight: 700;
    color: #e75300;
  }
  .unb > ul li .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 0px 15px 0px 15px;
    margin: 0rem 0.9375rem 0rem 0.9375rem;
    border-bottom: 4px solid #ffffff;
    border-bottom: 0.25rem solid #ffffff;
    transition: 200ms;
  }
  .unb > ul li .gnb_btn::before, .unb > ul li .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  .unb > ul li .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  .unb > ul li .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  .unb > ul li .gnb_btn.active {
    border: 0;
  }
  .unb > ul li .gnb_btn.active::before {
    top: 50%;
    transition: 200ms;
    transform: rotate(135deg);
  }
  .unb > ul li .gnb_btn.active::after {
    top: 50%;
    transition: 200ms;
    transform: rotate(45deg);
  }
  .unb > ul li.search_part {
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
  }
  .unb > ul li.search_part .search {
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
  }
  .unb > ul li.search_part .search img {
    width: 100%;
    height: 100%;
    filter: invert(99%) sepia(22%) saturate(2%) hue-rotate(105deg) brightness(106%) contrast(100%);
  }
  .unb > ul li.search_part .search:hover img {
    filter: invert(48%) sepia(63%) saturate(6360%) hue-rotate(8deg) brightness(97%) contrast(101%);
  }

  .navi_area {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 100ms ease-in-out;
    transform: translateY(-100%);
    background-color: #03010f;
  }
  .navi_area .gnb {
    padding-top: 80px;
    padding-top: 5rem;
    width: 100%;
    height: 100%;
  }
  .navi_area .gnb > ul {
    width: 100%;
    height: 100%;
  }
  .navi_area .gnb > ul > li {
    display: block;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-size: 1rem;
  }
  .sub_menu {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    border: 3px solid #e75300;
  }
  .sub_menu li {
    display: block;
    height: auto;
    padding: 0;
    text-align: center;
  }
  .sub_menu li:hover {
    color: #e75300;
  }

  .search_modal {
    display: none;
  }
  .search_modal .search_engin {
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 300px;
    width: 18.75rem;
    height: 440px;
    height: 27.5rem;
    padding: 0px 20px 20px 20px;
    padding: 0rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid #e75300;
    border: 0.0625rem solid #e75300;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
  .search_modal .search_engin .search_topBox .search_close_btn {
    position: absolute;
    top: 0;
    right: -20px;
    right: -1.25rem;
  }
  #search_icon {
    position: absolute;
    top: 50px;
    top: 3.125rem;
    left: 0;
    right: 0;
    width: 90%;
    height: 40px;
    height: 2.5rem;
    margin: auto;
    padding: 5px;
    padding: 0.3125rem;
    border: 1px solid #03010f;
    border: 0.0625rem solid #03010f;
  }

  .search_modal .search_engin ul {
    overflow-y: auto;
    position: absolute;
    top: 20%;
    left: 5%;
    margin-top: 20px;
    margin-top: 1.25rem;
    width: 100%;
    height: 380px;
    height: 23.75rem;
    box-sizing: content-box;
    padding-right: 160px;
    padding-right: 10rem;
    text-align: start;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  .unb {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 60px;
    height: 3.75rem;
    margin-right: 0px;
    margin-right: 0rem;
  }
  .unb > ul {
    width: auto;
    height: 100%;
    margin-top: 5px;
    margin-top: 0.3125rem;
  }
  .unb > ul li {
    float: left;
    color: #ffffff;
  }
  .unb > ul li > a:focus, .unb > ul li > a:hover {
    font-weight: 700;
    color: #e75300;
  }
  .unb > ul li .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 0px 15px 0px 15px;
    margin: 0rem 0.9375rem 0rem 0.9375rem;
    border-bottom: 4px solid #ffffff;
    border-bottom: 0.25rem solid #ffffff;
    transition: 200ms;
  }
  .unb > ul li .gnb_btn::before, .unb > ul li .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  .unb > ul li .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  .unb > ul li .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  .unb > ul li .gnb_btn.active {
    border: 0;
  }
  .unb > ul li .gnb_btn.active::before {
    top: 50%;
    transition: 200ms;
    transform: rotate(135deg);
  }
  .unb > ul li .gnb_btn.active::after {
    top: 50%;
    transition: 200ms;
    transform: rotate(45deg);
  }
  .unb > ul li.search_part {
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
  }
  .unb > ul li.search_part .search {
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
  }
  .unb > ul li.search_part .search img {
    width: 100%;
    height: 100%;
    filter: invert(99%) sepia(22%) saturate(2%) hue-rotate(105deg) brightness(106%) contrast(100%);
  }
  .unb > ul li.search_part .search:hover img {
    filter: invert(48%) sepia(63%) saturate(6360%) hue-rotate(8deg) brightness(97%) contrast(101%);
  }

  .navi_area {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 100ms ease-in-out;
    transform: translateY(-100%);
    background-color: #03010f;
  }
  .navi_area .gnb {
    padding-top: 80px;
    padding-top: 5rem;
    width: 100%;
    height: 100%;
  }
  .navi_area .gnb > ul {
    width: 100%;
    height: 100%;
  }
  .navi_area .gnb > ul > li {
    display: block;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-size: 1rem;
  }
  .sub_menu {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    border: 3px solid #e75300;
  }
  .sub_menu li {
    display: block;
    height: auto;
    padding: 0;
    text-align: center;
  }
  .sub_menu li:hover {
    color: #e75300;
  }

  .search_modal {
    display: none;
  }
  .search_modal .search_engin {
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 400px;
    width: 25rem;
    height: 440px;
    height: 27.5rem;
    padding: 0px 20px 20px 20px;
    padding: 0rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid #e75300;
    border: 0.0625rem solid #e75300;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
  .search_modal .search_engin .search_topBox .search_close_btn {
    position: absolute;
    top: 0;
    right: -20px;
    right: -1.25rem;
  }
  #search_icon {
    position: absolute;
    top: 50px;
    top: 3.125rem;
    left: 0;
    right: 0;
    width: 90%;
    height: 40px;
    height: 2.5rem;
    margin: auto;
    padding: 5px;
    padding: 0.3125rem;
    border: 1px solid #03010f;
    border: 0.0625rem solid #03010f;
  }

  .search_modal .search_engin ul {
    overflow-y: auto;
    position: absolute;
    top: 20%;
    left: 5%;
    margin-top: 20px;
    margin-top: 1.25rem;
    width: 100%;
    height: 380px;
    height: 23.75rem;
    box-sizing: content-box;
    padding-right: 160px;
    padding-right: 10rem;
    text-align: start;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .head_wrap {
    height: 100%;
  }

  #navigation {
    margin-left: 0;
  }
  .unb {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 60px;
    height: 3.75rem;
    margin-right: 0px;
    margin-right: 0rem;
  }
  .unb > ul {
    width: auto;
    height: 100%;
    margin-top: 5px;
    margin-top: 0.3125rem;
  }
  .unb > ul li {
    float: left;
    color: #ffffff;
  }
  .unb > ul li > a:focus, .unb > ul li > a:hover {
    font-weight: 700;
    color: #e75300;
  }
  .unb > ul li .gnb_btn {
    display: block;
    position: relative;
    float: right;
    width: 40px;
    width: 2.5rem;
    height: 36px;
    height: 2.25rem;
    margin: 0px 15px 0px 15px;
    margin: 0rem 0.9375rem 0rem 0.9375rem;
    border-bottom: 4px solid #ffffff;
    border-bottom: 0.25rem solid #ffffff;
    transition: 200ms;
  }
  .unb > ul li .gnb_btn::before, .unb > ul li .gnb_btn::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    height: 0.25rem;
    background-color: #ffffff;
  }
  .unb > ul li .gnb_btn::before {
    top: 4px;
    top: 0.25rem;
    left: 0;
  }
  .unb > ul li .gnb_btn::after {
    bottom: 10px;
    bottom: 0.625rem;
    bottom: 10px;
    left: 0;
  }
  .unb > ul li .gnb_btn.active {
    border: 0;
  }
  .unb > ul li .gnb_btn.active::before {
    top: 50%;
    transition: 200ms;
    transform: rotate(135deg);
  }
  .unb > ul li .gnb_btn.active::after {
    top: 50%;
    transition: 200ms;
    transform: rotate(45deg);
  }
  .unb > ul li.search_part {
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
  }
  .unb > ul li.search_part .search {
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem;
  }
  .unb > ul li.search_part .search img {
    width: 100%;
    height: 100%;
    filter: invert(99%) sepia(22%) saturate(2%) hue-rotate(105deg) brightness(106%) contrast(100%);
  }
  .unb > ul li.search_part .search:hover img {
    filter: invert(48%) sepia(63%) saturate(6360%) hue-rotate(8deg) brightness(97%) contrast(101%);
  }

  .navi_area {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 100ms ease-in-out;
    transform: translateY(-100%);
    background-color: #03010f;
  }
  .navi_area .gnb {
    width: 100%;
    height: 100%;
    padding: 80px 40px 0px 40px;
    padding: 5rem 2.5rem 0rem 2.5rem;
  }
  .navi_area .gnb > ul {
    width: 100%;
    height: 100%;
  }
  .navi_area .gnb > ul > li {
    display: block;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-size: 1rem;
  }
  .sub_menu {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    border: 3px solid #e75300;
  }
  .sub_menu li {
    display: block;
    height: auto;
    padding: 0;
    text-align: center;
  }
  .sub_menu li:hover {
    color: #e75300;
  }

  .search_modal {
    display: none;
  }
  .search_modal .search_engin {
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 600px;
    width: 37.5rem;
    height: 540px;
    height: 33.75rem;
    padding: 0px 20px 20px 20px;
    padding: 0rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid #e75300;
    border: 0.0625rem solid #e75300;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
  .search_modal .search_engin .search_topBox .search_close_btn {
    position: absolute;
    top: 0;
    right: -20px;
    right: -1.25rem;
  }
  #search_icon {
    position: absolute;
    top: 50px;
    top: 3.125rem;
    left: 0;
    right: 0;
    width: 90%;
    height: 40px;
    height: 2.5rem;
    margin: auto;
    padding: 5px;
    padding: 0.3125rem;
    border: 1px solid #03010f;
    border: 0.0625rem solid #03010f;
  }

  .search_modal .search_engin ul {
    overflow-y: auto;
    position: absolute;
    top: 20%;
    left: 5%;
    margin-top: 20px;
    margin-top: 1.25rem;
    width: 100%;
    height: 380px;
    height: 23.75rem;
    box-sizing: content-box;
    padding-right: 160px;
    padding-right: 10rem;
    text-align: start;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .navi_area .gnb > ul > li {
    margin-right: 0.5px;
    margin-right: 0.048828125vw;
  }
}
@media all and (min-width: 2560px) {
  .head_wrap {
    width: 100%;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

#viewBox {
  width: 100%;
  height: 800px;
  height: 50rem;
  padding-top: 150px;
  padding-top: 9.375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  text-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.8);
}
#viewBox > ul {
  width: 1200px;
  width: 75rem;
  height: 500px;
  height: 31.25rem;
  margin: auto;
}
.view_title {
  width: 700px;
  width: 43.75rem;
  height: 200px;
  height: 12.5rem;
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-right: 200px;
  padding-right: 12.5rem;
}
.view_title h2 {
  font-size: 36px;
  font-size: 2.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}

.view_txt {
  position: relative;
  width: 700px;
  width: 43.75rem;
  height: 300px;
  height: 18.75rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 200px;
  padding-right: 12.5rem;
}
.view_txt p {
  width: auto;
  height: auto;
  font-size: 18px;
  font-size: 1.125rem;
}
.view_btn {
  position: absolute;
  bottom: 0;
  left: 20px;
  left: 1.25rem;
  width: 400px;
  width: 25rem;
  height: 60px;
  height: 3.75rem;
  background-color: #e75300;
}
.view_btn button {
  display: block;
  width: 100%;
  height: 100%;
}
.view_btn button span {
  text-align: center;
  line-height: 60px;
  line-height: 3.75rem;
  color: #ffffff;
  font-weight: 700;
}

@media all and (max-width: 479px) {
  #viewBox {
    width: 100%;
    height: 800px;
    height: 50rem;
    padding-top: 140px;
    padding-top: 8.75rem;
  }
  #viewBox > ul {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .view_title {
    float: left;
    width: 100%;
    height: 200px;
    height: 12.5rem;
    text-align: center;
    padding: 0;
  }
  .view_title h2 {
    font-size: 36px;
    font-size: 2.25rem;
    padding: 0;
  }

  .view_txt {
    clear: both;
    width: 100%;
    height: 300px;
    height: 18.75rem;
    padding: 0px 10px 0px 10px;
    padding: 0rem 0.625rem 0rem 0.625rem;
  }
  .view_txt p {
    width: 100%;
    height: auto;
  }
  .view_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    width: 18.75rem;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  #viewBox {
    width: 100%;
    height: 800px;
    height: 50rem;
    padding-top: 140px;
    padding-top: 8.75rem;
  }
  #viewBox > ul {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .view_title {
    float: left;
    width: 100%;
    height: 200px;
    height: 12.5rem;
    text-align: center;
    padding: 0;
  }
  .view_title h2 {
    font-size: 36px;
    font-size: 2.25rem;
    padding: 0;
  }

  .view_txt {
    clear: both;
    width: 100%;
    height: 300px;
    height: 18.75rem;
    padding: 0px 10px 0px 10px;
    padding: 0rem 0.625rem 0rem 0.625rem;
  }
  .view_txt p {
    width: 100%;
    height: auto;
  }
  .view_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    width: 18.75rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  #viewBox > ul {
    width: 700px;
    width: 43.75rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  #viewBox > ul {
    width: 1000px;
    width: 62.5rem;
  }
}
.seminaring {
  background-image: url("../../img/seminar/bg_seminar.jpg");
}

.contentList {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
.contentList ul {
  width: 1168px;
  width: 73rem;
  height: auto;
  margin: auto;
  margin-top: 80px;
  margin-top: 5rem;
}
.contentList ul li {
  position: relative;
  float: left;
  width: 564px;
  width: 35.25rem;
  height: 450px;
  height: 28.125rem;
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-right: 40px;
  margin-right: 2.5rem;
}
.contentList ul li:nth-child(2n) {
  margin-right: 0px;
}
.duringDate {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  width: 21.25rem;
  height: auto;
  background-color: #e75300;
}
.duringDate span {
  display: block;
  text-align: center;
  width: auto;
  height: auto;
  line-height: 40px;
  line-height: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}

.contentImg {
  position: absolute;
  top: 40px;
  top: 2.5rem;
  right: 0;
  width: 540px;
  width: 33.75rem;
  height: 260px;
  height: 16.25rem;
  background-color: #6f6f75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contentImg a {
  display: block;
  width: 100%;
  height: 100%;
}

.contentTxt {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 540px;
  width: 33.75rem;
  height: 150px;
  height: 9.375rem;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-align: start;
  color: #ffffff;
  background-color: #333335;
}
.contentTxt > span {
  display: block;
  width: auto;
  height: auto;
  margin-top: 5px;
  margin-top: 0.3125rem;
  text-align: start;
  font-size: 18px;
  font-size: 1.125rem;
  color: #ffffff;
}
.appealBtn {
  width: 100px;
  width: 6.25rem;
  height: 30px;
  height: 1.875rem;
  padding: 3px 5px 3px 5px;
  padding: 0.1875rem 0.3125rem 0.1875rem 0.3125rem;
  margin-top: 10px;
  margin-top: 0.625rem;
  background-color: #e75300;
}
.appealBtn > span {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

/* ==== event img ========================= */
.contentList li:nth-child(1) .contentImg {
  background-image: url("../../img/seminar/20211029_02_pr2i_list.jpg");
}

.contentList li:nth-child(2) .contentImg {
  background-image: url("../../img/seminar/20211029_01_j39a_list.jpg");
}

.contentList li:nth-child(3) .contentImg {
  background-image: url("../../img/seminar/20211027_01_u1rt_list.jpg");
}

.contentList li:nth-child(4) .contentImg {
  background-image: url("../../img/seminar/20211022_01_x31b_list.jpg");
}

/* ==== event img ========================= */
@media all and (max-width: 479px) {
  .contentList {
    text-align: center;
  }
  .contentList ul {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-top: 3.75rem;
  }
  .contentList ul li {
    position: relative;
    clear: both;
    width: 300px;
    width: 18.75rem;
    margin-right: 0;
  }
  .duringDate {
    width: 280px;
    width: 17.5rem;
  }

  .contentImg {
    position: absolute;
    top: 40px;
    top: 2.5rem;
    right: 0;
    width: 280px;
    width: 17.5rem;
    height: 260px;
    height: 16.25rem;
  }

  .contentTxt {
    width: 280px;
    width: 17.5rem;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .contentList {
    text-align: center;
  }
  .contentList ul {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-top: 3.75rem;
  }
  .contentList ul li {
    position: relative;
    clear: both;
    width: 300px;
    width: 18.75rem;
    margin-right: 0;
  }
  .duringDate {
    width: 280px;
    width: 17.5rem;
  }

  .contentImg {
    position: absolute;
    top: 40px;
    top: 2.5rem;
    right: 0;
    width: 280px;
    width: 17.5rem;
    height: 260px;
    height: 16.25rem;
  }

  .contentTxt {
    width: 280px;
    width: 17.5rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .contentList {
    text-align: center;
  }
  .contentList ul {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-top: 3.75rem;
  }
  .contentList ul li {
    position: relative;
    clear: both;
    width: 300px;
    width: 18.75rem;
    margin-right: 0;
  }
  .duringDate {
    width: 280px;
    width: 17.5rem;
  }

  .contentImg {
    position: absolute;
    top: 40px;
    top: 2.5rem;
    right: 0;
    width: 280px;
    width: 17.5rem;
    height: 260px;
    height: 16.25rem;
  }

  .contentTxt {
    width: 280px;
    width: 17.5rem;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .contentList {
    text-align: center;
  }
  .contentList ul {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-top: 3.75rem;
  }
  .contentList ul li {
    position: relative;
    clear: both;
    width: 300px;
    width: 18.75rem;
    margin-right: 0;
  }
  .duringDate {
    width: 280px;
    width: 17.5rem;
  }

  .contentImg {
    position: absolute;
    top: 40px;
    top: 2.5rem;
    right: 0;
    width: 280px;
    width: 17.5rem;
    height: 260px;
    height: 16.25rem;
  }

  .contentTxt {
    width: 280px;
    width: 17.5rem;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .contentList {
    text-align: center;
  }
  .contentList ul {
    display: inline-block;
    width: 980px;
    height: auto;
    margin-top: 60px;
    margin-top: 3.75rem;
  }
  .contentList ul li {
    position: relative;
    width: 460px;
    width: 28.75rem;
  }
  .duringDate {
    width: 300px;
    width: 18.75rem;
  }

  .contentImg {
    position: absolute;
    top: 40px;
    top: 2.5rem;
    right: 0;
    width: 100%;
    height: 260px;
    height: 16.25rem;
  }

  .contentTxt {
    width: 100%;
  }
}
#footBox {
  width: 100%;
  height: auto;
  padding: 40px 0px 40px 0px;
  padding: 2.5rem 0rem 2.5rem 0rem;
  background-color: #03010f;
}
.foot_area {
  width: 1140px;
  width: 71.25rem;
  height: auto;
  margin: auto;
}
.foot_area .other_site {
  width: 376px;
  width: 23.5rem;
  height: auto;
}
.siteNav {
  position: relative;
  width: 100%;
  height: auto;
}
.siteNav > ul {
  width: 100%;
  height: 100%;
}
.siteNav > ul > li {
  display: block;
  width: 100%;
  height: 60px;
  height: 3.75rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  line-height: 60px;
  line-height: 3.75rem;
  background-color: #333335;
  color: #ffffff;
}
.siteNav > ul > li:last-child {
  margin-bottom: 0;
}
.siteNav > ul > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  text-indent: 0.5rem;
  text-decoration: none;
}
.siteNav > ul > li > a:hover {
  color: #e75300;
}
.family_site > a span {
  position: relative;
  width: 100%;
  height: 100%;
}
.family_site > a span::after {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  right: -100%;
  border: solid #e75300;
  border-width: 6px 8px 6px 0px;
  border-width: 0.375rem 0.5rem 0.375rem 0rem;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(90deg);
  transition: all 300ms ease;
}
.family_site > a.active span::after {
  transform: rotate(270deg);
  transition: all 300ms ease;
}

.sub_family {
  display: none;
  position: absolute;
  top: calc(-100% + -90px);
  top: calc(-100% + -5.625rem);
  left: 0;
  width: 100%;
  height: auto;
}
.sub_family.on {
  display: block;
}
.sub_family > li {
  width: 100%;
  height: 50px;
  height: 3.125rem;
  background-color: #03010f;
}
.sub_family > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-left: 20px;
  margin-left: 1.25rem;
  text-decoration: none;
}
.sub_family > li > a:hover {
  color: #e75300;
}

.global_site > a span {
  position: relative;
  width: 100%;
  height: 100%;
}
.global_site > a span::after {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  right: -75%;
  border: solid #e75300;
  border-width: 6px 0px 6px 8px;
  border-width: 0.375rem 0rem 0.375rem 0.5rem;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.foot_area .other_site .sns_site {
  width: 100%;
  height: 46px;
  height: 2.875rem;
  margin-top: 40px;
  margin-top: 2.5rem;
}
.foot_area .other_site .sns_site ul {
  width: 100%;
  height: auto;
}
.foot_area .other_site .sns_site ul li {
  float: left;
  width: 46px;
  width: 2.875rem;
  height: 46px;
  height: 2.875rem;
  margin-right: 20px;
  margin-right: 1.25rem;
  border-radius: 100%;
}
.foot_area .other_site .sns_site ul li:last-child {
  margin-right: 0;
}
.foot_area .other_site .sns_site ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.foot_area .other_site .sns_site ul li a .company_sns_icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 230%;
  background-position: left top;
}
.foot_area .other_site .sns_site ul li a .facebook {
  background-image: url("../../img/common/ico_sns_facebook.png");
}
.foot_area .other_site .sns_site ul li a .instar {
  background-image: url("../../img/common/ico_sns_instar.png");
}
.foot_area .other_site .sns_site ul li a .youtube {
  background-image: url("../../img/common/ico_sns_youtube.png");
}
.foot_area .other_site .sns_site ul li a .sonyblog {
  background-image: url("../../img/common/ico_sns_blog.png");
}
.foot_area .other_site .sns_site ul li a .naverpost {
  background-image: url("../../img/common/ico_sns_post.png");
}
.foot_area .other_site .sns_site ul li a .naverband {
  background-image: url("../../img/common/ico_sns_band.png");
}
.foot_area .company_info {
  width: auto;
  height: 100%;
  margin: auto;
}
.foot_area .company_info li {
  position: relative;
  float: left;
  width: auto;
  height: 100%;
  padding: 0px 10px 0px 10px;
  padding: 0rem 0.625rem 0rem 0.625rem;
  color: #ffffff;
}
.foot_area .company_info li a {
  display: block;
  width: auto;
  height: auto;
  text-decoration: none;
}
.foot_area .company_info li::after {
  position: absolute;
  top: 8px;
  top: 0.5rem;
  left: 0;
  content: "";
  width: 1px;
  width: 0.0625rem;
  height: 10px;
  height: 0.625rem;
  background-color: #ffffff;
}
.foot_area .company_info li:first-child::after {
  display: none;
}
.foot_area .company_info li:hover {
  font-weight: 700;
}
.foot_area .company_info li:nth-child(2):hover {
  color: #e75300;
}
.foot_area .company_info address {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-top: 3.75rem;
  color: #ffffff;
}
.foot_area .company_info .copyright {
  margin-top: 40px;
  margin-top: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

@media all and (max-width: 479px) {
  .foot_area {
    width: 280px;
    width: 17.5rem;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .siteNav > ul {
    width: 100%;
    height: auto;
  }
  .foot_area .other_site .sns_site {
    position: relative;
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site ul li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .foot_area {
    width: 320px;
    width: 20rem;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .siteNav > ul {
    width: 100%;
    height: auto;
  }
  .foot_area .other_site .sns_site {
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site ul li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .foot_area {
    width: 700px;
    width: 43.75rem;
    margin: auto;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .siteNav > ul {
    float: left;
    width: 376px;
    width: 23.5rem;
  }
  .siteNav .sub_family {
    top: calc(-100% + -276px);
    top: calc(-100% + -17.25rem);
  }

  .foot_area .other_site .sns_site {
    float: right;
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site ul li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site ul li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 1024px) and (max-width: 1279px) {
  .foot_area {
    width: 700px;
    width: 43.75rem;
    margin: auto;
  }
  .foot_area .other_site {
    float: left;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
  }
  .siteNav > ul {
    float: left;
    width: 376px;
    width: 23.5rem;
  }
  .siteNav .sub_family {
    top: calc(-100% + -276px);
    top: calc(-100% + -17.25rem);
  }

  .foot_area .other_site .sns_site {
    float: right;
    width: 178px;
    width: 11.125rem;
    height: 112px;
    height: 7rem;
    margin: auto;
    margin: 20px 0px 20px 0px;
    margin: 1.25rem 0rem 1.25rem 0rem;
  }
  .foot_area .other_site .sns_site li {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
  .foot_area .other_site .sns_site li:nth-child(-n+3) {
    margin-top: 0;
  }
  .foot_area .other_site .sns_site li:nth-child(3n) {
    margin-right: 0;
  }
  .foot_area .company_info {
    float: left;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
  .foot_area {
    width: 1140px;
  }

  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@media all and (min-width: 1920px) and (max-width: 2559px) {
  .foot_area {
    width: 1140px;
  }

  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@media all and (min-width: 2560px) {
  .foot_wrap {
    width: 2560px;
    margin: auto;
  }

  .foot_area {
    width: 1140px;
    margin: auto;
  }

  .company_info {
    float: left;
  }

  .other_site {
    float: right;
  }
}
@keyframes familyBtn {
  from {
    transform: rotate(-90);
  }
  to {
    transform: rotate(-90);
  }
}

/*# sourceMappingURL=seminaring.css.map */
