/* ========================== #footBox */
#footBox {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 80px;
  background-color: var(--back-black);
}
.foot_area {
  width: 1140px;
  height: 240px;
  margin: auto;
}
.company_info {
  position: relative;
  float: left;
  width: 620px;
  height: 100%;
}
.company_info li {
  position: relative;
  float: left;
  width: auto;
  height: 100%;
  padding: 0 10px;
  color: var(--back-white);
}
.company_info li a {
  display: block;
  width: auto;
  height: auto;
  text-decoration: none;
}
.company_info li::after {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 1px;
  height: 10px;
  background-color: var(--back-white);
}
.company_info li:first-child::after {
  display: none;
}
.company_info li:hover {
  font-weight: bold;
}
.company_info li:nth-child(2):hover {
  color: var(--main-color);
} 
address {
  width: 100%;
  height: auto;
  margin-top: 60px;
  color: var(--back-white);
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  color: var(--back-white);
}
/* ============================ */
.other_site {
  position: relative;
  float: right;
  width: 376px;
  height: auto;
}
.siteNav {
  width: 100%;
  height: auto;
}
.siteNav > ul {
  position: relative;
  width: 100%;
  height: 100%;
}
.siteNav > ul > li {
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  background-color: var(--deep-gray01);
  color: var(--back-white);
}
.siteNav > ul > li:last-of-type { margin-bottom: 0;}
/* ========== family site =============== */
.family_site button {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.family_site button span {
  display: block;
  text-align: start;
}
.sub_family {
  display: none;
  position: absolute;
  top: calc(-100% + -100px);
  left: 0;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.sub_family li {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background-color: var(--back-black);
}
.sub_family li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.sub_family li span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 25px;
}
.family_site:hover .sub_family { display: block;}

.sub_family li:hover,
.sub_family li:focus,
.family_site:hover button span {
  font-weight: bold;
  color: var(--main-color);
}
/* ========== family site =============== */
/* ========== global site =============== */
.global_site button {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.global_site button span {
  display: block;
  text-align: start;
}

.global_site:hover button span,
.global_site:focus button span {
  font-weight: bold;
  color: var(--main-color);
}
/* ========== global site =============== */
.other_txt {
  letter-spacing: 2px;
  color: var(--back-white);
  text-transform: uppercase;
}
.sns_site {
  position: absolute;
  top: 200px;
  right: 0;
  width: 100%;
  height: 46px;
}
.sns_site ul {
  width: 100%;
  height: 100%;
}
.sns_site li {
  float: left;
  width: 46px;
  height: 46px;
  margin-right: 20px;
  border-radius: 100%;
}
.sns_site li:last-child {margin-right: 0;}
.sns_site li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* ============================ */
.company_sns_icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 230%;
  background-position: left top;
}
.facebook {
  background-image: url("../../img/common/ico_sns_facebook.png");
}
.instar {
  background-image: url("../../img/common/ico_sns_instar.png");
}
.youtube {
  background-image: url("../../img/common/ico_sns_youtube.png");
}
.sonyblog {
  background-image: url("../../img/common/ico_sns_blog.png");
}
.naverpost {
  background-image: url("../../img/common/ico_sns_post.png");
}
.naverband {
  background-image: url("../../img/common/ico_sns_band.png");
}

/* ========================== // #footBox */
