.overseas {
  background-image: url("../../img/prophotographer/bg_pro_overseas.jpg");
}
.domestic {
  background-image: url("../../img/prophotographer/main_janghaena.jpg");
}
#proBox {
  @include unit(width,1280);
  height: auto;
  margin: auto;
  @include unit(padding-top,80);
  @include unit(padding-bottom,80);
  background-color: $color-white;
  ul {
    @include size();
    @include padding(0,50,0,50);
    li {
      float: left;
      @include unit(width,380);
      @include unit(height,480);
      @include unit(margin-top,20);
      @include unit(margin-right,20);
      @include unit(border-radius,20);
      background-color: $color-light-gray;
      &:nth-child(-n + 3) { margin-top: 0; }
      &:nth-child(3n) { margin-right: 0; }
      @at-root .pro_img {
        width: 100%;
        @include unit(height,300);
        @include unit(border-top-left-radius,20);
        @include unit(border-top-right-radius,20);
        background-color: $color-deep-gray;
      }
      @at-root .pro_txt {
        width: 100%;
        @include unit(height,40);
        text-align: center;
        text-decoration: none;
        @include unit(line-height,40);
        font-weight: 700;
        @include unit(font-size,18);
        text-transform: capitalize;
        color: $color-white;
        background-color: $color-black;
      }
      @at-root .pro_profile {
        overflow: hidden;
        position: relative;
        width: 100%;
        @include unit(height,140);
        box-sizing: border-box;
        @include unit(padding,20);
        @include unit(border-bottom-left-radius,20);
        @include unit(border-bottom-right-radius,20);
        background-color: $color-black;
        .profile_img {
          position: absolute;
          z-index: 10;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          @include unit(width,100);
          @include unit(height,100);
          border-radius: 50%;
          transition: all 100ms linear 100ms;
          a {
            @include display-block();
          }
        }
        .img_txt {
          position: absolute;
          z-index: 9;
          @include unit(top,20);
          bottom: 0;
          @include unit(right,-350);
          margin: auto;
          @include unit(margin-right,40);
          @include unit(width,310);
          @include unit(height,80);
          @include padding(10,10,10,60);
          @include unit(border-radius,20);
          transition: 1000s;
          background-clip:padding-box;
          color: $color-black;
          background-color: $color-white;
          transition: all 100ms linear;
          a {
            @include display-block();
            text-decoration: none;
            p {
              text-align: end;
            }
          }
        }
        &:hover .profile_img {
          transition: all 100ms linear;
          @include unit(right,250);
        }
        &:hover .img_txt {
          transition: all 100ms linear 100ms;
          margin-right: 0;
          @include unit(right,20);
        }
      }
    }
  }
} 


/* ======== pro_img, profile_img ========= */
.pro_img, .profile_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
// /* pro_img ========================================== */
// #proBox ul li:nth-child(1) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Ail.jpg");}
// #proBox ul li:nth-child(2) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Alysius.jpg");}
// #proBox ul li:nth-child(3) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Andre.jpg");}
// #proBox ul li:nth-child(4) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Ben.jpg");}
// #proBox ul li:nth-child(5) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Billy.jpg");}
// #proBox ul li:nth-child(6) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Bryan.jpg");}
// #proBox ul li:nth-child(7) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Bryanvan.jpg");}
// #proBox ul li:nth-child(8) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Bui.jpg");}
// #proBox ul li:nth-child(9) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Cheng.jpg");}
// #proBox ul li:nth-child(10) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Conrad.jpg");}
// #proBox ul li:nth-child(11) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Craig.jpg");}
// #proBox ul li:nth-child(12) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Daniel.jpg");}
// #proBox ul li:nth-child(13) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Darren.jpg");}
// #proBox ul li:nth-child(14) .pro_img {background-image: url("../../img/prophotographer/overseas/list-David.jpg");}
// #proBox ul li:nth-child(15) .pro_img {background-image: url("../../img/prophotographer/overseas/list-DB.jpg");}
// #proBox ul li:nth-child(16) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Dheeraj.jpg");}
// #proBox ul li:nth-child(17) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Diinesh.jpg");}
// #proBox ul li:nth-child(18) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Dow.jpg");}
// #proBox ul li:nth-child(19) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Dusit.jpg");}
// #proBox ul li:nth-child(20) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Eddie.jpg");}
// #proBox ul li:nth-child(21) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Eric.jpg");}
// #proBox ul li:nth-child(22) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Fajar.jpg");}
// #proBox ul li:nth-child(23) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Fakrul.jpg");}
// #proBox ul li:nth-child(24) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Gary.jpg");}
// #proBox ul li:nth-child(25) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Hoang.jpg");}
// #proBox ul li:nth-child(26) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Hussain.jpg");}
// #proBox ul li:nth-child(27) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Jiggie.jpg");}
// #proBox ul li:nth-child(28) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Jonathan.jpg");}
// #proBox ul li:nth-child(29) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Kelvin.jpg");}
// #proBox ul li:nth-child(30) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Kriengkrai.jpg");}
// #proBox ul li:nth-child(31) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Leung.jpg");}
// #proBox ul li:nth-child(32) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Liang.jpg");}
// #proBox ul li:nth-child(33) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Mark.jpg");}
// #proBox ul li:nth-child(34) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Nguyen.jpg");}
// #proBox ul li:nth-child(35) .pro_img {background-image: url("../../img/prophotographer/overseas/list-NguyenDoc.jpg");}
// #proBox ul li:nth-child(36) .pro_img {background-image: url("../../img/prophotographer/overseas/list-NguyenThanh.jpg");}
// #proBox ul li:nth-child(37) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Nicholas.jpg");}
// #proBox ul li:nth-child(38) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Nick.jpg");}
// #proBox ul li:nth-child(39) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Nicky.jpg");}
// #proBox ul li:nth-child(40) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Po.jpg");}
// #proBox ul li:nth-child(41) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Prakash.jpg");}
// #proBox ul li:nth-child(42) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Rosli.jpg");}
// #proBox ul li:nth-child(43) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Sam.jpg");}
// #proBox ul li:nth-child(44) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Sarah.jpg");}
// #proBox ul li:nth-child(45) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Sixpence.jpg");}
// #proBox ul li:nth-child(46) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Stanley.jpg");}
// #proBox ul li:nth-child(47) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Stefan.jpg");}
// #proBox ul li:nth-child(48) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Tavepong.jpg");}
// #proBox ul li:nth-child(49) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Tripeaksimagery.jpg");}
// #proBox ul li:nth-child(50) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Urasha.jpg");}
// #proBox ul li:nth-child(51) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Vin.jpg");}
// #proBox ul li:nth-child(52) .pro_img {background-image: url("../../img/prophotographer/overseas/list-Will.jpg");}
// /* // pro_img ========================================== */
// /* pro_profile ======================================== */
// #proBox ul li:nth-child(1) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Ail.png");}
// #proBox ul li:nth-child(2) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Alysius.png");}
// #proBox ul li:nth-child(3) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Andre.png");}
// #proBox ul li:nth-child(4) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Ben.png");}
// #proBox ul li:nth-child(5) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Billy.png");}
// #proBox ul li:nth-child(6) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Bryan.png");}
// #proBox ul li:nth-child(7) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Bryanvan.png");}
// #proBox ul li:nth-child(8) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Bui.png");}
// #proBox ul li:nth-child(9) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Cheng.png");}
// #proBox ul li:nth-child(10) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Conrad.png");}
// #proBox ul li:nth-child(11) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Craig.png");}
// #proBox ul li:nth-child(12) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Daniel.png");}
// #proBox ul li:nth-child(13) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Darren.png");}
// #proBox ul li:nth-child(14) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-David.png");}
// #proBox ul li:nth-child(15) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-DB.png");}
// #proBox ul li:nth-child(16) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Dheeraj.png");}
// #proBox ul li:nth-child(17) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Diinesh.png");}
// #proBox ul li:nth-child(18) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Dow.png");}
// #proBox ul li:nth-child(19) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Dusit.png");}
// #proBox ul li:nth-child(20) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Eddie.png");}
// #proBox ul li:nth-child(21) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Eric.png");}
// #proBox ul li:nth-child(22) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Fajar.png");}
// #proBox ul li:nth-child(23) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Fakrul.png");}
// #proBox ul li:nth-child(24) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Gary.png");}
// #proBox ul li:nth-child(25) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Hoang.png");}
// #proBox ul li:nth-child(26) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Hussain.png");}
// #proBox ul li:nth-child(27) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Jiggie.png");}
// #proBox ul li:nth-child(28) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Jonathan.png");}
// #proBox ul li:nth-child(29) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Kelvin.png");}
// #proBox ul li:nth-child(30) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Kriengkrai.png");}
// #proBox ul li:nth-child(31) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Leung.png");}
// #proBox ul li:nth-child(32) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Liang.png");}
// #proBox ul li:nth-child(33) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Mark.png");}
// #proBox ul li:nth-child(34) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Nguyen.png");}
// #proBox ul li:nth-child(35) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-NguyenDoc.png");}
// #proBox ul li:nth-child(36) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-NguyenThanh.png");}
// #proBox ul li:nth-child(37) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Nicholas.png");}
// #proBox ul li:nth-child(38) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Nick.png");}
// #proBox ul li:nth-child(39) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Nicky.png");}
// #proBox ul li:nth-child(40) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Po.png");}
// #proBox ul li:nth-child(41) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Prakash.png");}
// #proBox ul li:nth-child(42) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Rosli.png");}
// #proBox ul li:nth-child(43) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Sam.png");}
// #proBox ul li:nth-child(44) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Sarah.png");}
// #proBox ul li:nth-child(45) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Sixpence.png");}
// #proBox ul li:nth-child(46) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Stanley.png");}
// #proBox ul li:nth-child(47) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Stefan.png");}
// #proBox ul li:nth-child(48) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Tavepong.png");}
// #proBox ul li:nth-child(49) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Tripeaksimagery.png");}
// #proBox ul li:nth-child(50) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Urasha.png");}
// #proBox ul li:nth-child(51) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Vin.png");}
// #proBox ul li:nth-child(52) .pro_profile .profile_img {background-image: url("../../img/prophotographer/overseas/pro-Willl.png");}
// /* // pro_profile ======================================== */



/* ======== pro_img, pro_profile ========= */

@include mobile-v {
  #proBox {
    @include unit(width,300);
    ul {
      padding: 0;
      li {
        clear: both;
        @include unit(width,300);
        @include unit(height,380);
        margin-right: 0;
        &:nth-child(-n + 3) {
          @include unit(margin-top,20) 
        }
        @at-root .pro_img {
          @include unit(height,200);
        }
        @at-root .pro_txt {
          @include unit(height,40);
        }
      }
    }
  } 
}
@include mobile-h {
  #proBox {
    @include unit(width,300);
    ul {
      padding: 0;
      li {
        clear: both;
        @include unit(width,300);
        @include unit(height,380);
        margin-right: 0;
        &:nth-child(-n + 3) {
          @include unit(margin-top,20) 
        }
        @at-root .pro_img {
          @include unit(height,200);
        }
        @at-root .pro_txt {
          @include unit(height,40);
        }
      }
    }
  } 
}
@include tablet {
  #proBox {
    @include unit(width,300);
    ul {
      padding: 0;
      li {
        clear: both;
        @include unit(width,300);
        @include unit(height,380);
        margin-right: 0;
        &:nth-child(-n + 3) {
          @include unit(margin-top,20) 
        }
        @at-root .pro_img {
          @include unit(height,200);
        }
        @at-root .pro_txt {
          @include unit(height,40);
        }
      }
    }
  } 
}
@include laptop {
  #proBox {
    @include unit(width,940);
    ul {
      padding: 0;
      li {
        @include unit(width,300);
        @include unit(height,380);
        @at-root .pro_img {
          @include unit(height,200);
        }
        @at-root .pro_txt {
          @include unit(height,40);
        }
      }
    }
  } 
}



