.fullframe {
  background-image: url("../../img/product/fullframe/bg_fullframe.jpg");
}
.apsc {
  background-image: url("../../img/product/apsc/bg_aps.jpg");
}
.lens {
  background-image: url("../../img/product/lens/bg_lens.jpg");
}
.rxzv {
  background-image: url("../../img/product/rxzv/bg_rx01_bhvy.jpg");
}
.productBox {
  width: 100%;
  height: auto;
  margin: auto;
  @include unit(margin-top,80);
  @include unit(margin-bottom,80);
  text-align: center;
  ul {
    display: inline-block;
    width: auto;
    height: 100%;
    li {
      float: left;
      @at-root .product_img {
        @include unit(width,540);
        @include unit(height,540);
        @include unit(margin-right,20);
      }
      @at-root .product_txt {
        position: relative;
        @include unit(width,460);
        @include unit(height,640);
        @include unit(padding-top,80);
        .product_title {
          position: absolute;
          @include unit(top,20);
          left: 0;
          right: 0;
          @include unit(width,420);
          height: auto;
          margin: auto;
          @include unit(font-size,24);
          font-weight: 700;
          text-align: center;
          background-color: $color-white;
          span {
            @include unit(margin-right,10);
            &:last-child {
              margin-right: 0;
            }
          }
        }
        ul {
          @include size();
          @include unit(padding,20);
          li {
            @include size();
            @include unit(margin-bottom,10);
            @include unit(font-size,18);
            &:last-child {
              margin-bottom: 0;
            }
            span {
              @include unit(font-size,16);
              font-weight: 700;
              color: $color-black;
            }
            @at-root .info_name {
              position: relative;
              @include unit(margin-left,10);
              float: left;
              &::after {
                position: absolute;
                @include unit(top,15);
                @include unit(left,-10);
                content: "";
                @include unit(width,5);
                @include unit(height,5);
                border-radius: 100%;
                background-color: $color-white;
              }
            }
            .info_product {
              position: relative;
              float: right;
              &::after {
                position: absolute;
                @include unit(top,14);
                @include unit(right,140);
                content: "";
                @include vw(width,40,480);
                height: auto;
                @include border($s:dashed,$c:$color-light-gray)
              }
            }
          }
        }
        .product_store {
          position: absolute;
          @include unit(bottom,20);
          left: 0;
          right: 0;
          margin: auto;
          @include unit(width,300);
          @include unit(height,40);
          text-align: center;
          background-color: $color-orange;
          a {
            @include display-block();
            span {
              @include unit(font-size,16);
              font-weight: 700;
              @include unit(line-height,40);
            }
          }
        }
      }
    }
  }
}
.product_fullframe, .preview_fullframe {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product_fullframe {
  background-image:url("../../img/product/fullframe/32853360_1.png");
} 
.productList .preview_fullframe:nth-child(1) {
  background-image: url("../../img/product/fullframe/32853060_1.png");
} 
.productList .preview_fullframe:nth-child(2) {
  background-image: url("../../img/product/fullframe/32853360_1.png");
} 
.productList .preview_fullframe:nth-child(3) {
  background-image: url("../../img/product/fullframe/32851960_1.png");
} 
.productList .preview_fullframe:nth-child(4) {
  background-image: url("../../img/product/fullframe/32850860_1.png");
} 
.productList .preview_fullframe:nth-child(5) {
  background-image: url("../../img/product/fullframe/32829460_0.png");
} 
.productList .preview_fullframe:nth-child(6) {
  background-image: url("../../img/product/fullframe/32829360_0.png");
} 
.productList .preview_fullframe:nth-child(7) {
  background-image: url("../../img/product/fullframe/32828960_0.png");
} 
/* // fullframe img */
/* aps-c img */
.product_apsc, .preview_apsc {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product_apsc {
  background-image: url("../../img/product/apsc/32852760_0.png");
}
/* .productList .preview_apsc:nth-child(1) {}  */
.productList .preview_apsc:nth-child(2) {
  background-image: url("../../img/product/apsc/32852760_0.png");
} 
/* .productList .preview_apsc:nth-child(3) {} 
.productList .preview_apsc:nth-child(4) {} 
.productList .preview_apsc:nth-child(5) {} 
.productList .preview_apsc:nth-child(6) {}  */
/* // aps-c img */
/* lens img */
.product_lens, .preview_lens {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product_lens {
  background-image: url("../../img/product/lens/32848940_1.png");
}
.productList .preview_lens:nth-child(1) {
  background-image: url("../../img/product/lens/32849540_1.png");
}
.productList .preview_lens:nth-child(2) {
  background-image: url("../../img/product/lens/32848940_1.png");
}
.productList .preview_lens:nth-child(3) {
  background-image: url("../../img/product/lens/32849440_1.png");
}
.productList .preview_lens:nth-child(4) {
  background-image: url("../../img/product/lens/32849340_1.png");
}
.productList .preview_lens:nth-child(5) {
  background-image: url("../../img/product/lens/32849240_1.png");
}
.productList .preview_lens:nth-child(6) {
  background-image: url("../../img/product/lens/32849140_0.png");
}
.productList .preview_lens:nth-child(7) {
  background-image: url("../../img/product/lens/32849040_1.png");
}
/* // lens img */
/* rx zv img */
.product_rxzv, .preview_rxzv {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product_rxzv {
  background-image: url("../../img/product/rxzv/80819081_0.png");
}
.productList .preview_rxzv:nth-child(1) {
  background-image: url("../../img/product/rxzv/80818880_1.png");
} 
.productList .preview_rxzv:nth-child(2) {
  background-image: url("../../img/product/rxzv/80819081_0.png");
}
.productList .preview_rxzv:nth-child(3) {
  background-image: url("../../img/product/rxzv/80818680_1.png");
} 
.productList .preview_rxzv:nth-child(4) {
  background-image: url("../../img/product/rxzv/80817780_1.png");
} 
.productList .preview_rxzv:nth-child(5) {
  background-image: url("../../img/product/rxzv/80817680_1.png");
} 
.productList .preview_rxzv:nth-child(6) {
  background-image: url("../../img/product/rxzv/80817580_0.png");
} 
/* // rx zv img */
/* acc img */
/* // acc img */

.productContent {
  position: relative;
  width: 100%;
  @include unit(height,250);
  margin: auto;
  @include unit(bottom,80);
  p {
    @include unit(width,300);
    @include unit(height,60);
    margin: auto;
    text-align: center;
    @include unit(line-height,60);
    font-weight: 700;
    @include unit(font-size,16);
  }
  @at-root .productBtn {
    position: relative;
    width: auto;
    height: auto;
    @include unit(margin-top,20);
    div {
      position: absolute;
      @include unit(width,80);
      @include unit(height,80);
      background-color: $color-orange;
      transform: translateY(50%);
    }
    .prevBtn {
      top: 50%;
      left: 0;
    }
    .nextBtn {
      top: 50%;
      right: 0;
    }
  }
  @at-root .productList {
    overflow: hidden;
    position: absolute;
    @include unit(bottom,20);
    left: 0;
    right: 0;
    @include unit(width,910);
    @include unit(height,150);
    margin: auto;
    ul {
      $product:8;
      width: calc( 100% * $product);
      height: 100%;
      li {
        float: left;
        @include unit(width,150);
        @include unit(height,150);
        @include unit(margin-right,40);
        &:nth-child(5) {margin-right: 0;}
        &.action {
          @include border($w:4,$c:$color-black);
        }
      }
    }
  }
}





@include mobile-v {
  .productBox {
    width: 100%;
    ul {
      width: 100%;
      li {
        clear: both;
        @at-root .product_img {
          width: 100%;
          @include unit(height,300);
          margin-right: 0;
        }
        @at-root .product_txt {
          width: 100%;
          .product_title {
            width: 100%;
          }
        }
      }
    }
  }
  .productContent {
    width: 100%;
    p {
      width: 100%;
    }
    @at-root .productBtn {
      display: none;
    }
    @at-root .productList {
      width: 100%;
      ul {
        li {
          height: 100%;
        }
      }
    }
  }
}
@include mobile-h {
  .productBox {
    ul {
      width: 100%;
      li {
        clear: both;
        @at-root .product_img {
          width: 100%;
          @include unit(height,500);
          margin-right: 0;
        }
        @at-root .product_txt {
          width: 100%;
          .product_title {
            width: 100%;
          }
        }
      }
    }
  }
  .productContent {
    width: 100%;
    p {
      width: 100%;
    }
    @at-root .productBtn {
      display: none;
    }
    @at-root .productList {
      width: 100%;
      ul {
        li {
          height: 100%;
        }
      }
    }
  }
}
@include tablet {
  .productBox {
    ul {
      li {
        clear: both;
        @at-root .product_img {
          @include unit(width,540);
          @include unit(height,700);
          margin-right: 0;
        }
        @at-root .product_txt {
          @include unit(width,540);
          margin: auto;
          .product_title {
            width: 100%;
          }
        }
      }
    }
  }
  .productContent {
    width: 100%;
    p {
      width: 100%;
    }
    @at-root .productBtn {
      display: none;
    }
    @at-root .productList {
      width: 100%;
      ul {
        li {
          height: 100%;
        }
      }
    }
  }
}
@include laptop {}
