.seminaring {
  background-image: url("../../img/seminar/bg_seminar.jpg");
}
.contentList {
  @include unit(margin-bottom,80);
  ul {
    @include unit(width,1168);
    height: auto;
    margin: auto;
    @include unit(margin-top,80);
    li {
      position: relative;
      float: left;
      @include unit(width,564);
      @include unit(height,450);
      @include unit(margin-top,40);
      @include unit(margin-right,40);
      &:nth-child(2n) {
        margin-right: 0px;
      }
      @at-root .duringDate {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        @include unit(width,340);
        height: auto;
        background-color: $color-orange;
        span {
          display: block;
          text-align: center;
          width: auto;
          height: auto;
          @include unit(line-height,40);
          @include unit(font-size,16);
          font-weight: 700;
          color: $color-white;
        }
      }
      @at-root .contentImg {
        position: absolute;
        @include unit(top,40);
        right: 0;
        @include unit(width,540);
        @include unit(height,260);
        background-color: $color-light-gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        a {
          @include display-block();
        }
      }
      @at-root .contentTxt {
        position: absolute;
        bottom: 0;
        right: 0;
        @include unit(width,540);
        @include unit(height,150);
        box-sizing: border-box;
        @include padding(10,20,10,20);
        text-align: start;
        color: $color-white;
        background-color: $color-deep-gray;
        > span {
          display: block;
          width: auto;
          height: auto;
          @include unit(margin-top,5);
          text-align: start;
          @include unit(font-size,18);
          color: $color-white;
        }
        @at-root .appealBtn {
          @include unit(width,100);
          @include unit(height,30);
          @include padding(3,5,3,5);
          @include unit(margin-top,10);
          background-color: $color-orange;
          > span {
            @include display-block();
            color: $color-white;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
  }
}

/* ==== event img ========================= */
.contentList li:nth-child(1) .contentImg {
  background-image: url("../../img/seminar/20211029_02_pr2i_list.jpg");
}
.contentList li:nth-child(2) .contentImg {
  background-image: url("../../img/seminar/20211029_01_j39a_list.jpg");
}
.contentList li:nth-child(3) .contentImg {
  background-image: url("../../img/seminar/20211027_01_u1rt_list.jpg");
}
.contentList li:nth-child(4) .contentImg {
  background-image: url("../../img/seminar/20211022_01_x31b_list.jpg");
}
/* ==== event img ========================= */

@include mobile-v {
  .contentList {
    text-align: center;
    ul {
      display: inline-block;
      width: auto;
      height: auto;
      @include unit(margin-top,60);
      li {
        position: relative;
        clear: both;
        @include unit(width,300);
        margin-right: 0;
        @at-root .duringDate {
          @include unit(width,280);
        }
        @at-root .contentImg {
          position: absolute;
          @include unit(top,40);
          right: 0;
          @include unit(width,280);
          @include unit(height,260);
        }
        @at-root .contentTxt {
          @include unit(width,280);
        }
      }
    }
  }
}
@include mobile-h {
  .contentList {
    text-align: center;
    ul {
      display: inline-block;
      width: auto;
      height: auto;
      @include unit(margin-top,60);
      li {
        position: relative;
        clear: both;
        @include unit(width,300);
        margin-right: 0;
        @at-root .duringDate {
          @include unit(width,280);
        }
        @at-root .contentImg {
          position: absolute;
          @include unit(top,40);
          right: 0;
          @include unit(width,280);
          @include unit(height,260);
        }
        @at-root .contentTxt {
          @include unit(width,280);
        }
      }
    }
  }
}
@include tablet {
  .contentList {
    text-align: center;
    ul {
      display: inline-block;
      width: auto;
      height: auto;
      @include unit(margin-top,60);
      li {
        position: relative;
        clear: both;
        @include unit(width,300);
        margin-right: 0;
        @at-root .duringDate {
          @include unit(width,280);
        }
        @at-root .contentImg {
          position: absolute;
          @include unit(top,40);
          right: 0;
          @include unit(width,280);
          @include unit(height,260);
        }
        @at-root .contentTxt {
          @include unit(width,280);
        }
      }
    }
  }
}
@include laptop {
  .contentList {
    text-align: center;
    ul {
      display: inline-block;
      width: auto;
      height: auto;
      @include unit(margin-top,60);
      li {
        position: relative;
        clear: both;
        @include unit(width,300);
        margin-right: 0;
        @at-root .duringDate {
          @include unit(width,280);
        }
        @at-root .contentImg {
          position: absolute;
          @include unit(top,40);
          right: 0;
          @include unit(width,280);
          @include unit(height,260);
        }
        @at-root .contentTxt {
          @include unit(width,280);
        }
      }
    }
  }
}
@include pc1280 {
  .contentList {
    text-align: center;
    ul {
      display: inline-block;
      width: 980px;
      height: auto;
      @include unit(margin-top,60);
      li {
        position: relative;
        @include unit(width,460);
        @at-root .duringDate {
          @include unit(width,300);
        }
        @at-root .contentImg {
          position: absolute;
          @include unit(top,40);
          right: 0;
          width: 100%;
          @include unit(height,260);
        }
        @at-root .contentTxt {
          width: 100%;
        }
      }
    }
  }
}